.bets {
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter: drop-shadow(10px 10px 10px #222);

}

.drop {
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}

.modal-dialog {
    max-width: 100% !important;
}

.modal-open {
    padding-right: 0px !important;
}
.whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 2.9%;
    right: 3em;
    background-color: black;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 0px;
}

.hiddenContainer{
    display: none !important;
}
.contenedorItems{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}
.itemProducto{
    margin: 3px;
    background-color: black;
    min-width: 30%;
    border-radius: 6px;
    padding: 0px 7px 0px 7px;
}