/* WooCommerce
------------------------------------------------------------------------------------ */
.woocommerce #review_form #respond input {
    box-sizing: border-box;
    width: 100%;
}
.woocommerce .content > .list_products {
    margin-top: 1.4em;
}
.woocommerce .woocommerce-ordering {
    margin-top: -0.9em;
    margin-bottom: 2.2em;
}

/* Content and Sidebar */
.woocommerce.sidebar_show .content { width: 870px; }
.woocommerce .sidebar { 			 width: 270px; }

/* Fullwide or Fullscreen with sidebar */
.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 330px; }
.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -300px; }
.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  330px; }
.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-300px; }

/*
.woocommerce.body_filled .widget_area[class*="scheme_"]:not(.footer_wrap) .widget_area_inner {
	padding: 2.1429em;
}
*/
.woocommerce .sidebar .widget_title {
	font-size:1.2857em;
}

/* Hide WooC breadcrumbs - our more comfortable */
.woocommerce-breadcrumb { display:none; }

/* Hide results count
.woocommerce-result-count { display:none; }
 */

/* Buttons area */
.woocommerce p.buttons, .woocommerce-page p.buttons {
	padding-bottom:0;
	margin-bottom:0;
}

/* Lists */
.woocommerce .content ol li, .woocommerce-page .content ol li, .woocommerce .content ul li, .woocommerce-page .content ul li { line-height:21px; }
.woocommerce .content ol li:before, .woocommerce-page .content ol li:before, .woocommerce .content ul li:before, .woocommerce-page .content ul li:before { margin-top:0; }

/* SALE and NEW icons */
.woocommerce span.new, .woocommerce-page span.new,
.woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce ul.products li.product span.new, .woocommerce-page ul.products li.product span.new,
.woocommerce ul.products li.product span.onsale, .woocommerce-page ul.products li.product span.onsale {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: auto;
    min-height: 5px;
    margin: 0;
    overflow: hidden;
    font-size: 0.868em;
    font-weight: 400;
    text-align: center;
    line-height: 2.4em;
    text-transform: uppercase;
    border: none;
    padding: 0 1.2em;
    border-radius: 0;
    font-family: Lato, sans-serif;
}

/* Buttons */
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce-account .addresses .title .edit {
text-align: center;
    padding: 1.209em 2.3em;
    font-size: 0.857em;
    line-height: 1.2857em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border: 2px solid;
    border-width: 2px !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 0;
}
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
	font-size: 0.981em;
    padding: 0.792em 1.5em;
}
.woocommerce ul.products li.product .button {
	margin-top: 0;
}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
	top: 0 !important;
}

/* Input and textarea */
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	line-height: 1.3em;
}

.woocommerce-ordering {
	overflow:hidden;
	position:relative;
}
.woocommerce-ordering:after {
	content:'\e828';
	font-family:'fontello';
	display:block;
	position:absolute;
	z-index:1;
	right:0;
	top:10px;
	line-height:2em;
	width:2em;
	text-align:center;
	cursor:pointer;
	pointer-events: none;
}
.woocommerce-ordering select {
	width:110%;
	padding-right:2em;
}


/* Shop Listing
----------------------------------------------------------------- */
.woocommerce .mode_buttons, .woocommerce-page .mode_buttons {
	float:left;
	margin-right:0.5em;
	margin-bottom: 0;
	display:block;
	font-size:1.125em;
}
.woocommerce .mode_buttons a+a, .woocommerce-page .mode_buttons a+a {
	margin-left: 0.5em;
}

.woocommerce ul.products, .woocommerce-page ul.products {
	margin-right:-30px;
	margin-bottom:0;
}
.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    margin: 0;
    padding: 0 30px 30px 0;
    position: relative;
	width: 100%;
}
.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2 {
    width: 50%;
}
.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3 {
    width: 33.3333%;
}
.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4 {
    width: 25%;
}
.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5 {
    width: 20%;
}
.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
    width: 16.6667%;
}
.woocommerce ul.products li.product-category mark, .woocommerce-page ul.products li.product-category mark {
	background:none;
}


/* Thumbs mode */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	overflow:hidden;
}
.woocommerce ul.products li.product .post_featured, .woocommerce-page ul.products li.product .post_featured {
	margin-bottom:0;
}
.woocommerce ul.products li.product a img, .woocommerce-page ul.products li.product a img,
.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
	margin: 0;
	box-shadow:none;
}
.woocommerce ul.products li.product .post_featured .hover_icon:before, .woocommerce-page ul.products li.product .post_featured .hover_icon:before {
	font-size:3em;
}
.article_style_boxed.woocommerce ul.products li.product .post_item_wrap, .article_style_boxed.woocommerce-page ul.products li.product .post_item_wrap {
	background-color:#f0f0f0;
}
.article_style_boxed.woocommerce ul.products li.product .post_content, .article_style_boxed.woocommerce-page ul.products li.product .post_content {
	background-color:#f4f7f9;
}
.article_style_boxed.woocommerce ul.products li.product .post_content, .article_style_boxed.woocommerce-page ul.products li.product .post_content {
	padding:1.25em 1.8em;
	text-align:center;
}
.article_style_boxed.woocommerce ul.products li.product .post_content .star-rating, .article_style_boxed.woocommerce-page ul.products li.product .post_content .star-rating {
	margin-left:auto;
	margin-right:auto;
}
.article_style_boxed.woocommerce .upsells  ul.products li.product .post_content, .article_style_boxed.woocommerce-page .upsells ul.products li.product .post_content,
.article_style_boxed.woocommerce .crosssells  ul.products li.product .post_content, .article_style_boxed.woocommerce-page .crosssells ul.products li.product .post_content,
.article_style_boxed.woocommerce .related  ul.products li.product .post_content, .article_style_boxed.woocommerce-page .related ul.products li.product .post_content {
	background-color:#f4f7f9;
}
.woocommerce ul.products li.product h2,
.woocommerce-page ul.products li.product h2,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    font-size: 1em;
    text-transform: none;
    font-family: Hind;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
    padding: 0;
    overflow: hidden;
    max-height: 4.5em;
    min-height: 4em;
}
.article_style_boxed.woocommerce ul.products li.product h2, .article_style_boxed.woocommerce-page ul.products li.product h2,
.article_style_boxed.woocommerce ul.products li.product h3, .article_style_boxed.woocommerce-page ul.products li.product h3 {
	margin-top:0;
}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
	font-size: 1.428em;
    font-weight: 600;
    margin-bottom: 0.2em;
	margin-top: 0.5em;
}
.woocommerce ul.products li.product .price ins {
	text-decoration:none;
	font-weight:inherit;
	font-style:inherit;
}
.woocommerce ul.products li.product .price del {
	display:inline-block;
	margin-right:6px;
    font-size: 0.71em;
    font-weight: 400;
    vertical-align: middle;
}
.woocommerce ul.products li.product .post_item_wrap {
    border: 1px solid;
	text-align:center;
	background-color:#fff;
	padding: 1.428em;
}
.woocommerce ul.products li.product .star-rating {
    display: inline-block;
    margin-top: 1.5em;
    width: 5.2em;
    font-size: .857em;
}
.woocommerce .star-rating:before, .woocommerce .star-rating span:before{
	letter-spacing: 1.5px;
	content: "\e820\e820\e820\e820\e820";
	font-family: fontello;
    color: inherit;
    opacity: 0.5;
}
.woocommerce .star-rating span:before{
	opacity: 1;
}
.woocommerce ul.products li.product .star-rating:before {
    opacity: 0.6;
}
.woocommerce ul.products li.product .post_featured .sc_button {
    position: absolute;
    top: 50%;
    left: 50%;
	opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	padding-top: 0.793em;
	padding-bottom: 0.793em;
}
.woocommerce ul.products li.product .add_to_cart_button:hover {
    border-width: 2px !important;
    border-style: solid !important;
}
.woocommerce ul.products li.product .post_featured .post_thumb{
	position: relative;
}
.woocommerce ul.products li.product .post_featured .post_thumb:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(256,256,256,0.7);
	opacity: 0;
-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.woocommerce ul.products li.product .post_featured:hover .post_thumb:before{
	opacity: 1;
}
.woocommerce ul.products li.product .post_featured:hover .sc_button {
    top: 50% !important;
	opacity: 1;
}


/* List mode */
.woocommerce .shop_mode_list ul.products li.product, .woocommerce-page .shop_mode_list ul.products li.product {
	overflow:hidden;
	margin:0;
	float:none;
	width:100%;
}
.woocommerce .shop_mode_list ul.products li.product .post_item_wrap, .woocommerce-page .shop_mode_list ul.products li.product .post_item_wrap {
	overflow:hidden;
}
.woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
	float: left;
	margin: 0 1.5em 0 0;
	width: 33%;	/*250px;*/
	border-bottom:none;
}
.article_style_boxed.woocommerce .shop_mode_list ul.products li.product .post_content, .article_style_boxed.woocommerce-page .shop_mode_list ul.products li.product .post_content {
	overflow:hidden;
	padding:1.25em 1.875em;
	max-height: 286px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.woocommerce .shop_mode_list ul.products li.product h2,
.woocommerce-page .shop_mode_list ul.products li.product h2,
.woocommerce .shop_mode_list ul.products li.product h3,
.woocommerce-page .shop_mode_list ul.products li.product h3 {
	margin-top: 0;
	margin-bottom:0.5em;
	border-bottom:none;
}
.woocommerce .shop_mode_list ul.products li.product .description, .woocommerce-page .shop_mode_list ul.products li.product .description {
	margin-bottom:1.5em;
	line-height:1.3em;
	overflow:hidden;
	max-height:6.6em;
}
.woocommerce .shop_mode_list ul.products li.product-category .description, .woocommerce-page .shop_mode_list ul.products li.product-category .description {
	border-bottom: none;
}
.woocommerce .shop_mode_list ul.products li.product .description p, .woocommerce-page .shop_mode_list ul.products li.product .description p,
.woocommerce .shop_mode_list ul.products li.product .description ul, .woocommerce-page .shop_mode_list ul.products li.product .description ul {
	padding-bottom:0;
	margin-bottom:0;
	line-height:1.3em;
}

.woocommerce .shop_mode_list ul.products li.product .price, .woocommerce-page .shop_mode_list ul.products li.product .price {
	font-size:1.625em;
}

.woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart {
	padding: 0.5em 0 0 0.5em;
    vertical-align: top;
}

/* Rating stars */
.woocommerce .products .star-rating {
	 margin-bottom: 1em;
}
.woocommerce .products .star-rating:before,
.woocommerce .products .star-rating span {
	 top: 1px;
}


/* Pagination */
.woocommerce nav.woocommerce-pagination ul {
	border:none;
}
.woocommerce nav.woocommerce-pagination ul li {
	margin: 0 4px 4px 0;
	border: none;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span.current {
	border-width:2px;
	border-style: solid;
}


/* List products in the shortcodes */
.vc_row .woocommerce .products .post_item_wrap {
	text-align:center;
}
.vc_row .woocommerce .products .star-rating {
	margin-left:auto;
	margin-right:auto;
}


/* Single product decoration
---------------------------------------------------------------------------- */

/* Title */
.woocommerce div.product .product_title {
    font-size: 2.857em;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 0.73em;
    text-transform: none;
}

/* Price */
.woocommerce div.product p.price {
    font-size: 1.428em;
	position:relative;
	margin-bottom:1.05em;
	font-weight:600;
    display: inline-block;
    margin-top: 0.35em;
}
.woocommerce div.product p.price ins {
	text-decoration:none;
	font-style:normal;
}
.woocommerce div.product p.price del {
    font-size: 0.71em;
    float: right;
    margin-left: 5px;
    line-height: 2em;
}
.woocommerce div.product .star-rating {
    font-size: 0.85em;
    margin-top: 2px;
}
.woocommerce div.product form.cart {
    margin-top: 2em;
}


/* Images and thumbnails */
.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
	margin-bottom: 5em;
	width: 47%;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
	margin-right: 1.5%;
	width: 18.5%;
	position:relative;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.woocommerce #content div.product div.thumbnails.columns-4 a, .woocommerce div.product div.thumbnails.columns-4 a,
.woocommerce-page #content div.product div.thumbnails.columns-4 a, .woocommerce-page div.product div.thumbnails.columns-4 a {
	margin-right: 2.5%;
	width: 22.5%;
}
.woocommerce #content div.product div.thumbnails.columns-3 a, .woocommerce div.product div.thumbnails.columns-3 a,
.woocommerce-page #content div.product div.thumbnails.columns-3 a, .woocommerce-page div.product div.thumbnails.columns-3 a {
	margin-right: 3.3333%;
	width: 33%;
}
.woocommerce #content div.product div.thumbnails a:hover, .woocommerce div.product div.thumbnails a:hover, .woocommerce-page #content div.product div.thumbnails a:hover, .woocommerce-page div.product div.thumbnails a:hover {
	border-color: #f0f0f0;
}
.woocommerce #content div.product div.thumbnails a:before, .woocommerce div.product div.thumbnails a:before, .woocommerce-page #content div.product div.thumbnails a:before, .woocommerce-page div.product div.thumbnails a:before {
	content:' ';
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	-webkit-transition: all ease .3s;
	   -moz-transition: all ease .3s;
	    -ms-transition: all ease .3s;
	     -o-transition: all ease .3s;
	        transition: all ease .3s;
}
.woocommerce #content div.product div.thumbnails a:hover:before, .woocommerce div.product div.thumbnails a:hover:before, .woocommerce-page #content div.product div.thumbnails a:hover:before, .woocommerce-page div.product div.thumbnails a:hover:before {
	background-color:rgba(255,255,255, 0.4);
}
.woocommerce #content div.product div.thumbnails a.first, .woocommerce div.product div.thumbnails a.first, .woocommerce-page #content div.product div.thumbnails a.first, .woocommerce-page div.product div.thumbnails a.first {
    clear: none;
}
.woocommerce #content div.product div.thumbnails a.last, .woocommerce div.product div.thumbnails a.last, .woocommerce-page #content div.product div.thumbnails a.last, .woocommerce-page div.product div.thumbnails a.last {
    margin-right: 1.5%;
}
.woocommerce #content div.product div.thumbnails a:nth-child(5n+1), .woocommerce div.product div.thumbnails a:nth-child(5n+1), .woocommerce-page #content div.product div.thumbnails a:nth-child(5n+1), .woocommerce-page div.product div.thumbnails a:nth-child(5n+1) {
	clear:both;
}

div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous {
	margin-top:4px;
}

/* Meta: SKU, tags, categories, ID */
.woocommerce .product_meta span {
	display:block;
}
.woocommerce .product_meta span span {
	display:inline;
}
.woocommerce .product_meta span {
	font-weight:400;
}
.woocommerce .product_meta span span,
.woocommerce .product_meta a {
	font-weight:400;
}

/* Add to cart */
.woocommerce div.product form.cart, .woocommerce #content div.product form.cart, .woocommerce-page div.product form.cart, .woocommerce-page #content div.product form.cart {
    margin-bottom: 2.25em;
    overflow: hidden;
}
.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity {
    margin: 0 1.44em 0 0;
    width: 6em;
	position:relative;
}
.woocommerce div.quantity span.q_inc
.woocommerce div.product form.cart div.quantity span.q_inc, .woocommerce-page div.product form.cart div.quantity span.q_inc {
	top:0;
}
.woocommerce div.quantity span.q_dec,
.woocommerce div.product form.cart div.quantity span.q_dec, .woocommerce-page div.product form.cart div.quantity span.q_dec {
	bottom:0;
	border-top:1px solid #ffffff;
}
.woocommerce div.quantity input[type="number"],
.woocommerce div.product form.cart div.quantity input[type="number"], .woocommerce-page div.product form.cart div.quantity input[type="number"] {
	width: 100%;
	height: 100%;
	padding: 0.9em;
	padding-right:0;
}
.woocommerce td.product-quantity div.quantity {
    position: relative;
    width: 80px;
    text-align: left;
    display: inline-block;
    margin: auto;
}
.woocommerce td.product-quantity div.quantity  .qty{
	text-align: left;
    line-height: 1.2857em;
}
.woocommerce td.product-quantity div.quantity  span.q_inc{
	top: 0;
}

/* Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	margin-bottom:-1px;
	padding-left:30px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before {
	border-width:0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	background:#ffffff;
	box-shadow: none;
	border:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	border: 1px solid #dddddd;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-color:#ffffff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:before, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:after, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after {
	display:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a {
    color: inherit;
    text-shadow: inherit;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	font-weight:400;
	padding:0.75em 1em;
}

.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	border-width: 1px;
	border-style: solid;
    margin: 0;
    padding: 2.3em 0 0 0;
	display:none;
}
.woocommerce div.product .woocommerce-tabs h2, .woocommerce #content div.product .woocommerce-tabs h2, .woocommerce-page div.product .woocommerce-tabs h2, .woocommerce-page #content div.product .woocommerce-tabs h2 {
	margin-top:0;
	font-size: 1.625em;
	font-weight:400;
    display: none;
}
.woocommerce div.product .woocommerce-tabs h3, .woocommerce #content div.product .woocommerce-tabs h3, .woocommerce-page div.product .woocommerce-tabs h3, .woocommerce-page #content div.product .woocommerce-tabs h3 {
    margin-bottom: 0.25em !important;
    font-size: 1.7857em;
}
#review_form_wrapper {
    margin-top: 3em;
}
.woocommerce div.product div.summary {
    margin-bottom: 5em;
}

/* Decorate tabs on single product */
.single-product div.product .woocommerce-tabs {
    padding: 4.3em 0;
}
.sidebar_show.single-product div.product .woocommerce-tabs {
    padding: 4.3em 2em;
}
.single-product div.product .woocommerce-tabs .panel {
	border: none;
	padding-left: 0;
	padding-right: 0;
}
.single-product div.product .woocommerce-tabs .wc-tabs {
	padding-left: 0 !important;
}
.single-product div.product .woocommerce-tabs .wc-tabs:before,
.single-product div.product .woocommerce-tabs .wc-tabs:after {
	display: none;
}
.single-product div.product .woocommerce-tabs .wc-tabs li {
    border: none !important;
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
    font-size: 0.8em;
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.85px;
    margin-right: 1.518em;
    line-height: 1.5em;
}
.single-product div.product .woocommerce-tabs .wc-tabs li a {
    display: block;
    padding: 0.492em 1.3em;
}

/* Stars */
.woocommerce .woocommerce-product-rating, .woocommerce-page .woocommerce-product-rating { float:none; }
.woocommerce .woocommerce-product-rating .woocommerce-review-link, .woocommerce-page .woocommerce-product-rating .woocommerce-review-link {
	vertical-align: top;
    display: inline-block;
    line-height: 1.3em;
    color: inherit;
    margin-left: 0.5em;
}
.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating { margin-top:4px; margin-bottom:4px; }
.woocommerce .star-rating, .woocommerce-page .star-rating { height: 1.2em; margin-top:4px; margin-bottom:4px;     line-height: 1.3em;
    font-size: .7em; }


/* Users reviews */
.woocommerce #reviews #comments ol.commentlist {
	padding:0;
}
.woocommerce #reviews #comments ol.commentlist li {
	margin-bottom:0;
}
.woocommerce .woocommerce-tabs .form-submit { display:block; }
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	background:none;
	border:none;
	padding:0;
	width: 60px;
	float:left;
	margin:0 1.5em 0 0;
	position:static;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text, .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	margin:0;
	padding:0;
	border:0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	padding-top:0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 1em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0 0 0.45em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-size: 0.875em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: 400;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta time, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta time {
    text-transform: uppercase;
    font-size: 0.868em;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text .description, .woocommerce-page #reviews #comments ol.commentlist li .comment-text .description {
	line-height:21px;
}

.woocommerce #review_form #respond textarea, .woocommerce-page #review_form #respond textarea {
	height: 150px;
	font-weight: 400;
	overflow:auto;
}
.woocommerce #reviews #comments ol.commentlist li + li {
    margin-top: 1.5em;
}

/* Related products */
.woocommerce .related.products h2 {
	text-align:center;
}
.woocommerce .related.products h2:after {
    content: '//';
    font-style: normal;
    display: block;
    margin-left: 10px;
    font-weight: 900;
    margin: 0.65em auto 1.25em;
    font-size: 0.45em;
    line-height: 1em;
    font-family: fantasy;
    letter-spacing: 1px;
}
.woocommerce .related ul{
	margin-right: 0px;
}
.woocommerce .related ul li.product {
    padding: 0;
    margin-right: -1px;
}

/* Categories list */
.woocommerce ul.products li.product.product-category .thumb_wrapper, .woocommerce-page ul.products li.product.product-category .thumb_wrapper {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	padding:1em;
	overflow:hidden;
}
/* not work correctly in the Chrome */
.woocommerce ul.products li.product.product-category .thumb_wrapper img, .woocommerce-page ul.products li.product.product-category .thumb_wrapper img {
	   -moz-transform: scale(1.7) translate(15%,15%);
		 -o-transform: scale(1.7) translate(15%,15%);
		-ms-transform: scale(1.7) translate(15%,15%);
}

.woocommerce ul.products li.product.product-category img, .woocommerce-page ul.products li.product.product-category img {
	width:100%;
	height:auto;
}

.woocommerce ul.products li.product.product-category h2,
.woocommerce-page ul.products li.product.product-category h2,
.woocommerce ul.products li.product.product-category h3,
.woocommerce-page ul.products li.product.product-category h3 {
	margin-bottom:0;
	border-bottom:none;
	text-align:center;
}
.woocommerce ul.products li.product.product-category h2,
.woocommerce ul.products li.product.product-category h3 {
    font-size: 0.868em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.woocommerce ul.products li.product.product-category mark.count, .woocommerce-page ul.products li.product.product-category mark.count {
	font-weight:400;
	font-style: normal;
}
.woocommerce ul.products li.product-category .post_content h2,
.woocommerce ul.products li.product-category .post_content h3 {
    margin-top: 0;
    padding: 1.37em 0 0;
}

/* Related products */
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
    width: 50%;
	border:none;
	box-shadow: none;
}




/* Widgets decoration
---------------------------------------------------------------*/

/* Cart in top user menu */
.top_panel_wrap .sidebar_cart {
    width: 280px !important;
    padding: 0 !important;
}
.top_panel_wrap .widget_shopping_cart {
	display:block !important;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list {
	display:block;
	position:static;
	width:100%;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
.top_panel_wrap .sidebar_cart > li,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li {
	margin:0;
	padding-left:0;
}
.top_panel_wrap .sidebar_cart > li:before,
.top_panel_wrap .sidebar_cart > li > a:before,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li:before,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:before {
	display:none;
}
.woocommerce .top_panel_wrap .widget_shopping_cart .empty,
.woocommerce-page .top_panel_wrap .widget_shopping_cart .empty {
	padding-bottom: 1em;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a {
	padding: 0;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
	margin-top:-0.15em;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:hover {
	background-color: transparent;
	color: #ffffff;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li img {
	width:50px;
	margin-top:0.5em;
}


/* Cart & Products list */
.woocommerce a.remove {
	margin-top:1em;
	text-align:left;
}
.woocommerce a.remove,
.woocommerce a.remove:hover {
	background-color:transparent !important;
}
.woocommerce .shop_table a.remove {
	margin-top:0;
	font-weight:400;
	text-align:center;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce-page .widget_shopping_cart .cart_list li {
	padding: 0 0 0 1.5em;
	overflow:hidden;
}
.woocommerce ul.cart_list li:before, .woocommerce ul.product_list_widget li:before, .woocommerce-page ul.cart_list li:before, .woocommerce-page ul.product_list_widget li:before {
	display:none;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a {
    font-weight: 400;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
    box-shadow: none;
	width:4.6875em;
	float:left;
	margin:0 1.2em 1em 0;
}
.woocommerce.widget_shopping_cart .quantity, .woocommerce .widget_shopping_cart .quantity, .woocommerce-page.widget_shopping_cart .quantity, .woocommerce-page .widget_shopping_cart .quantity {
	margin: 0.5em 0 1em;
	display:inline-block;
}
.woocommerce ul.cart_list li > .amount, .woocommerce ul.product_list_widget li > .amount, .woocommerce-page ul.cart_list li > .amount, .woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount, .woocommerce ul.product_list_widget li span .amount, .woocommerce-page ul.cart_list li span .amount, .woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount, .woocommerce ul.product_list_widget li ins .amount, .woocommerce-page ul.cart_list li ins .amount, .woocommerce-page ul.product_list_widget li ins .amount {
    font-size: 1em;
	font-weight:400;
}
.woocommerce ul.cart_list li ins, .woocommerce ul.product_list_widget li ins, .woocommerce-page ul.cart_list li ins, .woocommerce-page ul.product_list_widget li ins {
	text-decoration:none;
	font-style:normal;
}
.woocommerce ul.cart_list li del, .woocommerce ul.product_list_widget li del, .woocommerce-page ul.cart_list li del, .woocommerce-page ul.product_list_widget li del {
    font-size: 0.875em;
}

.woocommerce.widget_shopping_cart .total, .woocommerce .widget_shopping_cart .total, .woocommerce-page.widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
    font-size: 0.868em;
    text-transform: uppercase;
    padding: 1.25em 0 0;
    border-top: none;
    margin-bottom: 2.3em;
}
.woocommerce.widget_shopping_cart .total .amount, .woocommerce .widget_shopping_cart .total .amount, .woocommerce-page.widget_shopping_cart .total .amount, .woocommerce-page .widget_shopping_cart .total .amount {
	font-weight: 600;
    float: right;
}

/* Active filters */
.woocommerce .widget_layered_nav_filters > ul > li { padding:0 0.625em 0.5em 0; display:block; }
.woocommerce .widget_layered_nav_filters > ul > li:before {display:none; }
.woocommerce .widget_layered_nav_filters > ul > li a,
.woocommerce .widget_layered_nav ul li.chosen a, .woocommerce-page .widget_layered_nav ul li.chosen a { background-color: transparent; border:none; padding:0; color:#222222; }

/* Price filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { margin-bottom:3em; background:#1d1e23; height: 3px; }
.woocommerce .widget_price_filter .price_label { font-size:0.868em; }
.woocommerce .widget_price_filter .price_label span { color:#222222; }
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height:3px;
	top: 0px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    border-radius: 0;
}

/* Product categories */
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories {
	margin:0;
	padding:0;
	list-style:none;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li {
	position:relative;
	padding:1em 2em;
	margin:0;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li+li {
	border-top: 1px solid #eeeeee;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li:before {
	display:none;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited li.has_children:after {
    content: '\e836';
    font-family: 'fontello';
    display: block;
    position: absolute;
    z-index: 1;
    right: 1.6em;
    top: 1.6em;
    width: 1em;
    height: 1.072em;
    border: 1px solid;
    text-align: center;
    line-height: 1.072em;
    font-size: 0.8em;
    padding-left: 0.073em;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited li.has_children span.open_child_menu {
	display:none;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories ul {
	display:none;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited ul {
	position:absolute;
	z-index:100000;
	top: -0.5em;
    right: -280px;
    width: 270px;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .woocommerce .widget_title{
    padding: 0.889em 1.56em;
    margin: 0;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .woocommerce .widget_title:before{
    content: '\e8ba';
	font-family: fontello;
	margin-right: 5px;
	font-style: normal;
	font-weight: 100;
}
body:not(.woocommerce) .widget_area:not(.footer_wrap) .woocommerce .widget_title:after{
    content: none;
}
body:not(.woocommerce) .woocommerce ul.products:not(.categories)  {
	margin-right: 0;
}
body:not(.woocommerce) .woocommerce ul.products:not(.categories) li.product:not(.product-category) {
    padding-right: 0;
    margin-right: -1px;
}

/* Cart
--------------------------------------------------------------------- */
.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	font-weight: 400;
}

.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
    width: 75px;
}

.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
	padding: 12px;
	text-align: center;
}
.woocommerce table.cart td.product-name, .woocommerce #content table.cart td.product-name, .woocommerce-page table.cart td.product-name, .woocommerce-page #content table.cart td.product-name {
    text-align: center;
}
.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
    border: none;
	padding: 0.7em 0.5em;
	margin-right:0.5em;
	width: 12em;
    line-height: 1.2857em;
}
.woocommerce table.shop_table {
    border-radius: 0;
}
.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
    border-top: 1px solid rgba(0,0,0,.1);
}
.woocommerce table.shop_table thead th, .woocommerce-page table.shop_table thead th {
    font-weight: 400;
    font-size: 0.868em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.woocommerce table.shop_table tfoot th, .woocommerce-page table.shop_table tfoot th {
	color: #222222;
	font-weight:400;
	font-size:0.875em;
	text-align:right;
}
.woocommerce table.shop_table td {
    table-layout: fixed;
    text-align: center;
}
.woocommerce .quantity .qty {
    text-align: left;
}
.woocommerce .cart-collaterals h2, .woocommerce-page .cart-collaterals h2 {
	font-size:1.5em;
	font-weight: 400;
	line-height:1.3em;
	text-align:right;
}
.woocommerce .cart-collaterals .order-total strong, .woocommerce-page .cart-collaterals .order-total strong {
	font-weight:400;
}

.woocommerce .cart-collaterals .cart-subtotal .amount, .woocommerce-page .cart-collaterals .cart-subtotal .amount {
	font-size: 1em;
	font-weight:400;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th {
	padding: 6px;
	font-weight:400;
}

.woocommerce .cart-collaterals .cart_totals table select, .woocommerce-page .cart-collaterals .cart_totals table select {
	background-color:#f4f7f9;
	font-size:1em;
}

.woocommerce table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
	width: 100px;
}

.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-button:after, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-button:after {
	color:#222222;
	font-size: 1em;
	font-weight:400;
}



/* Checkout
--------------------------------------------------------------------------*/

.woocommerce form .form-row label, .woocommerce-page form .form-row label {
    line-height: 1.5em;
}

.woocommerce .checkout h3, .woocommerce-page .checkout h3 {
	margin-top:0;
	font-size:1.625em;
	font-weight:400;
}

.woocommerce .checkout .col-2 h3#ship-to-different-address label, .woocommerce-page .checkout .col-2 h3#ship-to-different-address label {
	display:inline-block;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	font-weight:400;
}
.woocommerce table.shop_table .cart-subtotal .amount, .woocommerce-page table.shop_table .cart-subtotal .amount,
.woocommerce table.shop_table .shipping td, .woocommerce-page table.shop_table .shipping td {
	font-weight:400;
	color: #222222;
}
.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
    clear: none;
    float: left;
	margin-bottom:30px;
}
.woocommerce .checkout #order_review, .woocommerce-page .checkout #order_review {
	margin-bottom:3em;
}
.woocommerce .checkout #order_review_heading, .woocommerce-page .checkout #order_review_heading {
	padding-top:1.825em;
}
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount {
	font-size:1.125em;
	line-height:1.3em;
	font-weight:400;
}
.woocommerce .checkout #order_review .payment_methods li, .woocommerce-page .checkout #order_review .payment_methods li {
	list-style:none;
}
.woocommerce .checkout #order_review .payment_methods li label, .woocommerce-page .checkout #order_review .payment_methods li label {
	display:inline-block;
}

.woocommerce-checkout #payment {
	background-color:#f4f7f9;
}
.woocommerce-checkout #payment div.payment_box:after {
	top:0;
}

.woocommerce .order_details li, .woocommerce-page .order_details li {
    font-size: 1em;
    line-height: 1em;
	list-style:none;
}
.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
	font-weight:300;
	color:#222222;
}



/* My Account
--------------------------------------------------------------------------*/
.woocommerce-account .addresses .title h3 {
	font-size: 2em;
	margin-top:0;
}







.woocommerce ul.cart_list li img {
    display: none;
}
.woocommerce a.remove {
    margin-top: 0 !important;
    font-weight: 100;
    font-size: 1.4em;
}
.woocommerce.widget_shopping_cart .quantity {
    font-size: 0.868em;
}
.woocommerce .widget_shopping_cart .cart_list li + li {
    margin-top: 0.95em;
}
.woocommerce.widget_shopping_cart .buttons a {
    padding-top: 0.792em;
    padding-bottom: 0.792em;
    display: block;
    max-width: 70px;
}
.woocommerce.widget_shopping_cart .buttons a + a{
    margin-top: 10px;
}
.woocommerce.widget_shopping_cart .buttons a:hover {
	border-width: 2px;
	border-style: solid;
}
.footer_wrap_inner.widget_area_inner ul.product_list_widget li a {
    margin-bottom: 0.5em;
}
.footer_wrap_inner.widget_area_inner ul.product_list_widget .amount{
    font-size: 1em;
	font-weight: 600 !important;
}
.footer_wrap_inner.widget_area_inner ul.product_list_widget li del .amount{
    font-weight: 400  !important;
    font-size: 1.145em;
}
.footer_wrap_inner.widget_area_inner ul.product_list_widget li + li {
    margin-top: 0.5em;
}
.footer_wrap_inner.widget_area_inner ul.product_list_widget li .reviewer {
    font-size: 0.868em;
}
.woocommerce .widget_area_inner .star-rating{
	width: 6.3em;
    margin: 1em 0 0.6em;
}
.woocommerce .widget_area_inner .star-rating:before, .woocommerce .widget_area_inner .star-rating span:before{
	letter-spacing: 4px;
    line-height: 1.2em;
}
.woocommerce .widget_area_inner .star-rating:before{
	content: "\e8c8\e8c8\e8c8\e8c8\e8c8";
}
.woocommerce .related.products {
    padding:7.2em 0 3.2em;
}
.woocommerce a.remove,
.top_panel_wrap .widget_shopping_cart .cart_list li a.remove:hover{
    color: #fac328 !important;
}
.top_panel_wrap .widget_shopping_cart .cart_list li a.remove {
    left: auto;
    right: 1em;
    top: 1.3em;
    width: 10px;
    height: 15px;
    line-height: 17px;
	color: #808080 !important;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li {
	padding: 1.8em 1.8em 0;
    padding-right: 2.5em;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li.empty {
    padding: 1.8em;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li + li {
    padding-top: 2em;
    margin-top: 0.7em;
    border-top: 1px solid;
}
.top_panel_wrap .widget_shopping_cart ul.cart_list > li + li  a.remove {
	top: 1.5em;
}
.top_panel_wrap .widget_shopping_cart .total {
    padding: 1.9em 1.8em 1.9em;
    margin-top: 0.9em;
    border: 1px solid;
    border-width: 1px 0 1px 0;
}
.top_panel_wrap .woocommerce.widget_shopping_cart .buttons {
    padding: 0 1.8em 1.8em;
}
.top_panel_wrap .woocommerce.widget_shopping_cart .buttons a {
    display: inline-block;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.top_panel_wrap .widget_shopping_cart .total,
.top_panel_wrap .widget_shopping_cart ul.cart_list > li + li{
	border-color: #1c1d22;
}
.top_panel_wrap .woocommerce.widget_shopping_cart .buttons a + a {
    margin-top: 0;
    float: right;
}
.contact_cart .cart_item,
.header_mobile .cart_item{
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 20px;
}
.header_mobile .cart_item{
    top: -10px;
	width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.868em;
}
.woocommerce ul.products li.product-category .post_item_wrap {
    padding: 0;
	border: none;
}
.woocommerce ul.products li.product-category .star-rating {
    display: none;
}
.woocommerce ul.products li.product-category .post_featured  {
    height: 9em;
}
.woocommerce ul.products li.product-category .post_featured .post_thumb {
    display: block;
    height: 100% !important;
    position: relative;
}
.woocommerce ul.products li.product-category .post_featured .post_thumb img{
    position: absolute;
    top: 50%;
	left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.woocommerce .woocommerce-message a.button,
.woocommerce .woocommerce-message a.button:hover{
	color: #fff !important;
}
.woocommerce table.shop_table strong {
    color: #000;
    font-weight: 400;
}
.top_panel_wrap .woocommerce.widget_shopping_cart .buttons a:first-child {
    padding-left: 0;
    padding-right: 0;
}
.top_panel_wrap .woocommerce.widget_shopping_cart .buttons a:first-child:after {
    content: '\e836';
    font-family: fontello;
    margin-left: 5px;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 1em;
}
.woocommerce.widget .star-rating {
    width: 6em;
    margin-bottom: 0.8em;
}
.woocommerce.widget .star-rating:before,
.woocommerce.widget .star-rating span:before {
    letter-spacing: 0.3em;
}
.woocommerce ul.products li.product a.added_to_cart {
    color: #fac328;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title a:hover{
	color: #fff !important;
}

.woocommerce .shop_mode_list ul.products li.product h2,
.woocommerce .shop_mode_list ul.products li.product h3 {
    line-height: 1em;
    min-height: auto;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
	padding-top: 0;
	padding-bottom: 0;
    font-weight: 600;
}
.woocommerce a.button.loading{ padding-right: 2.5em !important;}
.woocommerce a.button.loading:after{
	right: 1em !important;
}
body.single-product.woocommerce .post_navi {
    display: none;
}
body.single-product.woocommerce .breadcrumbs {
    float: left;
    width: 100%;
	max-width: 100% !important;
    text-align: left;
    padding-top: 4em !important;
    padding-bottom: 0 !important;
}
body.single-product.woocommerce .top_panel_title_inner {
    background-color: transparent;
}
body.single-product.woocommerce .top_panel_title_inner a {
    color: #000 !important;
}

body.single-product.woocommerce .page_content_wrap {
    padding: 3em 0 4.7em 0;
}

.single-product .mfp-content {
	z-index: 100000;
}
.single-product .mfp-image-holder .mfp-close {
	right: 0;
	top: -4px;
}


.woocommerce-product-gallery__wrapper {
	max-width: none;
}
.woocommerce-product-gallery {
	position:relative;
	margin-bottom:3em
}
.woocommerce-product-gallery figure {
	margin:0
}
.woocommerce-product-gallery .zoomImg {
	background-color:#fff
}
.woocommerce-product-gallery .woocommerce-product-gallery__image:nth-child(n+2) {
	width:25%;
	display:inline-block
}
.woocommerce-product-gallery .flex-control-thumbs li {
	list-style:none;
	float:left;
	cursor:pointer
}
.woocommerce-product-gallery .flex-control-thumbs img {
	opacity:.5
}
.woocommerce-product-gallery .flex-control-thumbs img.flex-active,.woocommerce-product-gallery .flex-control-thumbs img:hover {
	opacity:1
}
.woocommerce-product-gallery img {
	display:block
}
.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width:33.3333%
}
.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width:25%
}
.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width:20%
}
.woocommerce-product-gallery__trigger {
	position:absolute;
	top:1em;
	right:1em;
	z-index:99
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    padding: 0;
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
    padding: 1.209em 2.3em;
    font-size: 0.857em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border: 2px solid #fac328;
}
