@charset "utf-8";

@media (max-width: 1439px) {

	.contact_cart .cart_item {
		left: 50%;
		margin-left: -10px;
	}
	.top_panel_style_2 .contact_cart .cart_item {
		left: 20px;
		margin-left: 0;
	}
	.top_panel_middle .sidebar_cart:after, .menu_user_nav > li > ul:after {
		left: auto;
		right: 70px;
	}
}


@media (min-width: 1263px) and (max-width: 1439px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:1060px; }
	.slider_boxed, .content_wrap, .content_container {	width:1000px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 670px; }
	.sidebar { 				 width: 300px; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 330px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -300px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  330px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-300px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 690px; }
	.woocommerce .sidebar { 			 width: 280px; }

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 310px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  310px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-280px; }


	/* Top Panel */
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}

	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 343px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 515px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 257px;
	}

	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	/* Widget Recent News */
	.sc_recent_news_style_news-announce .post_size_full {	height: 372px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 186px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 93px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 93px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 560px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 280px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 140px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }

	.isotope_wrap .isotope_item .post_descr p:nth-child(2) {
		line-height: 1.5em;
		max-height: 3em;
	}
}

@media (max-width: 1262px) {
	header .menu_main_nav > li {
		padding: 1.34em 0em 1.3em;
	}
	.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
		padding: 0.792em 1em;
	}
}


@media (min-width: 1136px) and (max-width: 1262px) {

	.menu_main_nav>li>a {
		padding: 0.708em 1.2em 0.708em;
		font-size: 0.858em;
		line-height: 1.2857em
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:970px; }
	.slider_boxed, .content_wrap, .content_container {	width:910px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 610px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 630px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 313px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 470px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 235px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 344px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 172px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 86px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 86px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 512px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 256px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 128px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


@media (min-width: 1136px) and (max-width: 1279px) {
	html, body {	font-size: 14px; }
}


@media (max-width: 1135px) {
	.search_wrap .search_submit:before {
		line-height: 2.8em;
	}
	.woocommerce.widget_shopping_cart .buttons a {
		display: inline-block;
		max-width: 70px;
		padding: 0.792em 1.7em;
	}
	.sc_promo_button .sc_button:after {
		border: 1px solid;
		vertical-align: top;
		line-height: 1.05em;
	}
	.sc_item_descr,
	.post_item_404 .page_description	{
		letter-spacing: 2px;
	}
	.search_style_button .search_submit {
		line-height: 0.9em !important;
		right: -110px;
	}
	.content .search_wrap .search_submit{
		height: 3.417em;
	}
	.single-product div.product .woocommerce-tabs .wc-tabs li a {
		padding: 0.5em 1.3em;
	}
}


@media (min-width: 1024px) and (max-width: 1135px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:964px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 664px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 684px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 331px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 497px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 248px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 372px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 186px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 93px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 93px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 540px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 270px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 135px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}


@media (min-width: 960px) and (max-width: 1023px) {

	.sc_socials a:before, .sc_socials a:after {
		font-size: 30px;
		line-height: 30px;
	}
	.sc_socials a:hover:before {
		left: -11px;
	}
	.sc_socials a:hover:after {
		right: -11px;
	}
}


@media (min-width: 960px) and (max-width: 1023px) {

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:900px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 600px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 620px; }

	/* Posts layouts */
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 310px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 465px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_4,
	.sc_scroll_horizontal .sc_blogger .column-1_4,
	.sc_blogger .sc_scroll_horizontal .isotope_column_4,
	.sc_blogger .sc_scroll_horizontal .column-1_4 {
		width: 232px;
	}
	.sc_recent_news_style_news-announce .post_size_full {	height: 336px; }
	.sc_recent_news_style_news-announce .post_size_big {	height: 168px; }
	.sc_recent_news_style_news-announce .post_size_medium {	height: 84px;  }
	.sc_recent_news_style_news-announce .post_size_small {	height: 84px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	height: 504px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	height: 252px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	height: 126px;  }
	.sc_recent_news_style_news-announce .post_size_medium .post_title,
	.sc_recent_news_style_news-announce .post_size_small .post_title {	font-size: 1.2em; }
}

@media (min-width: 1262px) {

	#dbotonLimpiar{
		padding-right: 4px;
	}
	#selectCalibre {
		margin-top: 0px;
		margin-right: 10%;
	}

	#selectCategoria{
		margin-top: 0px;
	}

	#inputBuscar {
		width: 225%;
	}
	#botonBuscar{
		padding-left: 0px;
		width: 30%;
	}
	.input-group {
		width: 310% !important;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}
}

@media (min-width: 960px) and (max-width: 1262px) {

	#dbotonLimpiar{
		padding-right: 4px;
	}
	#selectCalibre {
		margin-top: 0px;
		margin-right: 10%;
	}

	#selectCategoria{
		margin-top: 0px;
	}

	#inputBuscar {
		width: 200%;
	}
	#botonBuscar{
		padding-left: 0px;
		width: 58%;
	}
	.input-group {
		width: 310% !important;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}

	.sidebar { 				 width: 270px; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 300px; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: -270px; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  300px; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:-270px; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce .sidebar { 			 width: 250px; }

	/* WooCommerce: Fullwide or Fullscreen with sidebar */
	.woocommerce.body_style_fullwide.sidebar_right .content, .woocommerce.body_style_fullscreen.sidebar_right .content { padding-right: 280px; }
	.woocommerce.body_style_fullwide.sidebar_right .sidebar, .woocommerce.body_style_fullscreen.sidebar_right .sidebar { margin-left: -250px; }
	.woocommerce.body_style_fullwide.sidebar_left  .content, .woocommerce.body_style_fullscreen.sidebar_left  .content { padding-left:  280px; }
	.woocommerce.body_style_fullwide.sidebar_left  .sidebar, .woocommerce.body_style_fullscreen.sidebar_left  .sidebar { margin-right:-250px; }


	/* Top Panel */
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}

	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}

	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.25em;
	}
	.widget_area .widget_calendar td .day_wrap {
		padding:6px 3px;
	}


	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}

	/* Shortcodes */
	.sc_googlemap {
		max-height:350px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}
}


@media (min-width: 960px) and (max-width: 1135px) {

	

	html, body {	font-size: 13px; }
	h1 { font-size:3.3em; }
	h2 { font-size:2.9em; }
	h3 { font-size:2.4em; }
	h4 { font-size:1.5em; }
	h5 { font-size:1.2308em; }
	h6 { font-size:1em; }

	h2.tribe-events-page-title,
	h1.tribe-events-single-event-title	{
		font-size: 2.9em;
	}
	.tribe-events-schedule h2{
		font-size:1.2308em;
	}

	/* Post layouts */
	.isotope_filters a {
		font-size:0.8461em;
	}

	/* Post parts */
	.post_info {
		font-size:0.8461em;
	}
	.post_info {
		font-size:0.8461em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3846em;
	}

	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.7692em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8461em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8461em;
	}

	/* Shortcodes */
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}

	.sc_promo.sc_promo_size_small .sc_promo_title{
		font-size: 2.5em;
	}
}

@media (max-width: 959px) {
	/* news */
	.sc_recent_news_header_split .sc_recent_news_header_categories > * {
		margin: 0 1px;
	}

	/* Woo */
	.woocommerce.widget_shopping_cart .buttons a {
		display: inline-block;
		max-width: 70px;
		padding: 0.792em 1.7em;
	}
	.footer_wrap_inner.widget_area_inner ul.product_list_widget li {
		overflow: hidden;
	}
	.footer_wrap_inner.widget_area_inner ul.product_list_widget li a {
		white-space: nowrap;
	}
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product {
		clear: none;
		float: none !important;
		display: inline-block;
	    vertical-align: top;
		margin-right: -3px!important;
	}
	.woocommerce ul.products li.product .post_featured .sc_button {
		padding: 0.75em 1.5em;
	}
	.woocommerce .widget_area_inner .star-rating {
		width: 6.4em;
	}
	.woocommerce-page table.cart td.actions .coupon input {
		width: auto !important;
	}

	/* Hovers */
	.sc_socials a:before, .sc_socials a:after {
		font-size: 29px;
		line-height: 29px;
	}
	.sc_socials a:hover:after {
		right: -11px;
		opacity: 1;
	}
	.sc_socials a:hover:before {
		left: -11px;
		opacity: 1;
	}
	.sc_skills_read_more:before, .sc_skills_read_more:after {
		font-size: 29px;
		line-height: 29px;
	}
	.sc_skills_read_more:after{
		right: -11px;
		opacity: 1;
	}
	.sc_skills_read_more:before  {
		left: -11px;
		opacity: 1;
	}

}

@media (min-width: 768px) and (max-width: 959px) {

	#dbotonLimpiar{
		padding-right: 4px;
	}
	#selectCalibre {
		margin-top: 0px;
		margin-right: 10%;
	}

	#selectCategoria{
		margin-top: 0px;
	}

	#inputBuscar {
		width: 200%;
	}
	#botonBuscar{
		padding-left: 0px;
		width: 58%;
	}
	.input-group {
		width: 230% !important;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}
	/* portfolio */
	.isotope_item_portfolio_3 .post_item .post_descr > p:not(.post_info) {
		display: none;
	}

	/* events */
	.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
		float: left;
		width: 35%;
	}
	.single-tribe_events .tribe-events-venue-map {
		width: 50%;
		margin: 0 4% 2% 0;
		display: inline-block;
		float: right;
	}

	/* news */
	.sc_recent_news_with_accented .post_accented_off .post_featured {
		width: 50%;
	}
	.sc_recent_news_with_accented .post_accented_off .post_header {
		width: 50%;
	}

	/* woocommerce */
	body:not(.woocommerce) .widget_area:not(.footer_wrap) .woocommerce .widget_title {
		padding: 0.889em 1.46em;
	}
	body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li:nth-child(n + 5) {
		display: none;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:708px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 2em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right:0 !important; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top: 2em; }

	.footer_wrap.widget_area aside  {
		display: inline-block;
		vertical-align:top;
	    width: 33%;
		margin-left:0;
	}
	.content + .sidebar.widget_area aside  {
		display: inline-block;
		vertical-align:top;
	    width: calc(33% - 5.6em);
		margin-left:0;
	}
	.sidebar aside+aside {
		padding-top:0;
		border-top:none;
		margin-top:0;
	}
	.sidebar aside:nth-child(3n+1) {
		margin-left:0;
	}
	.sidebar aside:nth-child(3n+4),
	.sidebar aside:nth-child(3n+5),
	.sidebar aside:nth-child(3n+6) {
		padding-top:2em;
		border-top:1px solid #f4f7f9;
		margin-top:2em;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 20% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 20% !important; }

	/* Top Panel */
	.top_panel_top_user_area {
		float:none;
		clear:both;
		width:100%;
	}
	.top_panel_top_socials {
		float:left;
		margin-left:0;
		margin-right:4.5em;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1.5em;
		margin-bottom:1.5em;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}

	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-50%);
		   -moz-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
				transform:translateX(-50%);
	}

	/* Posts layouts */
	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_info_wrap .post_button + .post_button {
		margin-left:0.4em;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 246px;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 369px;
	}

	/* Widgets */
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 198px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 198px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 198px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 198px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }

	/* Shortcodes */
	.sc_promo_block {
		min-width: 50%;
	}
	.sc_promo_block_inner {
		padding: 3.5em;
	}
	.sc_googlemap {
		max-height:350px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}

	/* Woocommerce */
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 60px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 8px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5 {
		width: 33.3333%;
	}
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 33.3333%;
	}
	.widget_area_inner .widget_search .search_field {
		line-height: 1.7em;
	}
	.content .search_wrap .search_submit {
		height: 3.35em;
	}
	.woocommerce .shop_mode_list ul.products li.product .description, .woocommerce-page .shop_mode_list ul.products li.product .description {
		max-height: 6.2em;
	}
}


@media (min-width: 640px) and (max-width: 767px) {
	#dbotonLimpiar{
		padding-right: 4px;
	}
	#selectCalibre {
		margin-top: 0px;
		margin-right: 10%;
	}

	#selectCategoria{
		margin-top: 0px;
	}

	#inputBuscar {
		width: 200%;
	}
	#botonBuscar{
		padding-left: 0px;
		width: 58%;
	}
	.input-group {
		width: 180% !important;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}
	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {	width:600px; }

	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-50%);
		   -moz-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
				transform:translateX(-50%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right:-20px;
	}
	.isotope_wrap .isotope_item {
		padding-right:20px;
		padding-bottom:20px;
		min-width:50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 206px;
		min-width:0;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_column_2,
	.sc_scroll_horizontal .sc_blogger .column-1_2,
	.sc_blogger .sc_scroll_horizontal .isotope_column_2,
	.sc_blogger .sc_scroll_horizontal .column-1_2 {
		width: 310px;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 168px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 168px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 168px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 168px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }
}


@media (min-width: 480px) and (max-width: 767px) {

	/* portfolio */
	.isotope_item_portfolio_3 .post_item .post_descr > p:not(.post_info) {
		display: none;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 2em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; margin-top: 2em; }

	.article_style_boxed .sidebar,
	.body_filled .sidebar[class*="scheme_"] {
		margin-top:20px;
	}

	.content + .sidebar.widget_area aside {
		display: inline-block;
		float: none;
		vertical-align: top;
		width: calc(50% - 4em);
		padding: 2.3em 2em !important;
		margin-left: 0;
	}
	.widget_area aside[class*="column-"] {
		margin-left:0;
	}
	.widget_area aside+aside {
		padding-top:0;
		border-top:none;
		margin-top:0;
	}
	.widget_area aside:nth-child(2n+1) {
		margin-left:0;
	}
	.widget_area aside:nth-child(2n+3),
	.widget_area aside:nth-child(2n+4) {
		padding-top:1em;
		border-top:1px solid #f4f7f9;
		margin-top:1em;
	}

	/* Grid */
	.container, .container-fluid {
		padding-left:  10px;
		padding-right: 10px;
	}
	.row, .columns_wrap {
		margin-right: -20px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 20px;
	}
	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -20px;
	}
	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 20px;
	}
	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -20px;
	}
	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right:20px;
	}
	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -10px;
		margin-right: -10px;
	}
	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left:20px;
	}
	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 20px;
	}

	/* Columns relayout (max 2 columns in the row) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:50%;
	}
	.row:not(.columns_fluid) > .column-1_1, .row:not(.columns_fluid) > .column-2_2, .row:not(.columns_fluid) > .column-3_3, .row:not(.columns_fluid) > .column-4_4,
	.row:not(.columns_fluid) > .column-5_5,	.row:not(.columns_fluid) > .column-6_6, .row:not(.columns_fluid) > .column-7_7, .row:not(.columns_fluid) > .column-8_8,
	.row:not(.columns_fluid) > .column-9_9, .row:not(.columns_fluid) > .column-10_10,
	.row:not(.columns_fluid) > .column-11_11, .row:not(.columns_fluid) > .column-12_12,
	.columns_wrap:not(.columns_fluid) > .column-1_1, .columns_wrap:not(.columns_fluid) > .column-2_2, .columns_wrap:not(.columns_fluid) > .column-3_3,
	.columns_wrap:not(.columns_fluid) > .column-4_4, .columns_wrap:not(.columns_fluid) > .column-5_5, .columns_wrap:not(.columns_fluid) > .column-6_6,
	.columns_wrap:not(.columns_fluid) > .column-7_7, .columns_wrap:not(.columns_fluid) > .column-8_8, .columns_wrap:not(.columns_fluid) > .column-9_9,
	.columns_wrap:not(.columns_fluid) > .column-10_10, .columns_wrap:not(.columns_fluid) > .column-11_11, .columns_wrap:not(.columns_fluid) > .column-12_12,
	.row:not(.columns_fluid) > .column-1_3:nth-child(3n), .columns_wrap:not(.columns_fluid) > .column-1_3:nth-child(3n),
	.row:not(.columns_fluid) > .column-2_3, .columns_wrap:not(.columns_fluid) > .column-2_3,
	.row:not(.columns_fluid) > .column-1_3.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_3.after_span_2,
	.row:not(.columns_fluid) > .column-2_4, .columns_wrap:not(.columns_fluid) > .column-3_4,
	.row:not(.columns_fluid) > .column-1_4.after_span_2, .columns_wrap:not(.columns_fluid) > .column-1_4.after_span_3,
	.row:not(.columns_fluid) > .column-1_5:nth-child(5n), .columns_wrap:not(.columns_fluid) > .column-1_5:nth-child(5n),
	.row:not(.columns_fluid) > .column-2_5, .columns_wrap:not(.columns_fluid) > .column-2_5,
	.row:not(.columns_fluid) > .column-3_5, .columns_wrap:not(.columns_fluid) > .column-3_5,
	.row:not(.columns_fluid) > .column-4_5, .columns_wrap:not(.columns_fluid) > .column-4_5,
	.row:not(.columns_fluid) > .column-2_6, .columns_wrap:not(.columns_fluid) > .column-2_6,
	.row:not(.columns_fluid) > .column-3_6, .columns_wrap:not(.columns_fluid) > .column-3_6,
	.row:not(.columns_fluid) > .column-4_6, .columns_wrap:not(.columns_fluid) > .column-4_6,
	.row:not(.columns_fluid) > .column-5_6, .columns_wrap:not(.columns_fluid) > .column-5_6 {
		width:100%;
	}

	.hp1_custom_section_1 .column-1_4 {width: 100% !important;}

	.sc_team .columns_wrap:not(.columns_fluid)  .column-1_4:nth-last-child(2){
		width: 50%;
	}

	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+3),
	.row:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4), .columns_wrap:not(.columns_fluid) > [class*="column-"]:nth-child(2n+4) {
		padding-top: 20px;
	}

	.comments_field { padding-top: 0 !important;}


	.gallery.gallery-columns-9 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 33.3333% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 33.3333% !important; }


	/* Top Panel */
	.top_panel_top_user_area {
		float:none;
		clear:both;
		width:100%;
	}
	.top_panel_top_socials {
		float:left;
		margin-left:0;
		margin-right:4.5em;
	}
	.top_panel_top_contact_area,
	.top_panel_top_search,
	.top_panel_top_user_area .menu_user_nav {
		margin-top:0.5em;
	}
	.top_panel_top_search {
		padding-top: 0.1em;
		margin-right:1em;
	}
	.top_panel_top_search .search_field {
		max-width:4em;
	}
	.top_panel_style_3 .top_panel_top_socials {
		margin-right:2em;
	}

	.top_panel_style_1 .top_panel_top_socials,
	.top_panel_style_1 .top_panel_top_open_hours,
	.top_panel_style_2 .top_panel_top_socials,
	.top_panel_style_2 .top_panel_top_open_hours,
	.top_panel_style_3 .top_panel_top_socials {
		margin-top: 0.5em;
	}
	.top_panel_style_1 .menu_user_nav > li > a,
	.top_panel_style_2 .menu_user_nav > li > a,
	.top_panel_style_3 .menu_user_nav > li > a {
		padding-top: 0;
		padding-bottom:0;
	}

	.top_panel_style_3 .search_results {
		top: 3em;
	}

	.top_panel_middle .logo {
		font-size:0.875em;
	}
	.top_panel_middle .logo img {
		max-height:40px;
	}

	.top_panel_style_1 .contact_logo {
		width:100%;
	}
	.top_panel_style_1 .logo {
		text-align:center;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1em;
		margin-bottom:2em;
		padding-top:0 !important;
		width:33.3333% !important;
	}
	.top_panel_style_2 .contact_field {
		margin:1em 0;
	}
	.top_panel_style_2 .contact_field,
	.top_panel_style_2 .contact_phone > span+span {
		text-align:center;
	}
	.top_panel_style_1 .contact_field .contact_icon,
	.top_panel_style_2 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
 	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float:none;
		text-align:center;
	}
	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_wrap .isotope_item_colored .post_item .hover_icon,
	.isotope_wrap .isotope_item_grid .post_item .hover_icon,
	.isotope_wrap .isotope_item_square .post_item .hover_icon,
	.isotope_wrap .isotope_item_portfolio .post_item .hover_icon {
		display:none;
	}
	.ih-item.square.effect1.bottom_to_top .info .post_title {
		margin-top:35% !important;
	}

	.post_item_colored .post_category {
		max-height:1.2em;
		overflow:hidden;
	}
	.post_item_colored .post_descr .post_price {
		margin-top: 1.2em;
	}
	.post_item_colored .post_info_wrap .post_button + .post_button {
		margin-left:0.4em;
	}
	.post_item_colored .post_featured .post_title, .post_item_colored .post_featured .post_descr {
		padding:4px 8px;
	}

	.ih-item.square.effect_dir .info .post_title {
		margin-top:4% !important;
	}

	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}

	.comments_list_wrap ul ul ul {
		margin-left:0;
	}

	/* Widgets */
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title {
		margin-top:0;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}

	.sc_recent_news_header_split .sc_recent_news_header_captions,
	.sc_recent_news_header_split .sc_recent_news_header_categories {
		width:100%;
		padding-right:0;
		text-align:left;
	}
	.sc_recent_news_header_split .sc_recent_news_header_categories {
		margin-top:1em;
	}
	.sc_recent_news_header_split .sc_recent_news_header_categories > * {
		margin: 0 1em 0 0;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 112px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 112px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 112px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 112px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-excerpt .post_featured {
		float:none;
		padding-right:0;
		margin-bottom:1.5em;
		width: 100%;
	}
	.sc_recent_news_style_news-excerpt .post_body {
		float:none;
		width:100%;
	}


	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right:-20px;
	}
	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 50px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 6px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}

	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 50%;
	}

	.woocommerce .list_products.shop_mode_list ul.products li.product,
	.woocommerce-page .list_products.shop_mode_list ul.products li.product {
		width:100%;
	}
	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: none;
	}
	.woocommerce ul.products li:nth-child(2n+3), .woocommerce-page ul.products li:nth-child(2n+3) {
		clear: both;
	}


	/* Shortcodes */
	.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
		border-width: 1px;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height:2px;
	}
	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 1.25em;
	}
	input.sc_button_size_medium[type="submit"], input.sc_button_size_medium[type="button"], button.sc_button_size_medium, .sc_button.sc_button_size_medium {
		padding: 0.8em 1em;
	}
	input[type="submit"]:before, input[type="button"]:before, button:before, .sc_button:before {
		margin-right:4px;
	}

	.sc_price_block .sc_price_block_description {
    	height: 5.5em;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 33.3333%;
		margin-bottom: 1em;
	}

	.sc_googlemap {
		max-height:250px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}

	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width:2.5em;
		height:2.5em;
		line-height:2.5em;
	}
	.sc_socials.sc_socials_size_small .social_icons span {
		font-size:1.2em;
	}

	.sc_tabs .sc_tabs_titles li a {
		padding: 0.6em 1.3em;
	}
	.sc_twitter_item {
		padding:0 3em;
	}
	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}

	.sc_promo_block {
		min-width: 50%;
	}
	.sc_promo_block_inner {
		padding: 3em;
	}
}


@media (min-width: 480px) and (max-width: 639px) {

	#dbotonLimpiar{
		padding-right: 4px;
	}
	#selectCalibre {
		margin-top: 0px;
		margin-right: 10%;
	}

	#selectCategoria{
		margin-top: 0px;
	}

	#inputBuscar {
		width: 200%;
	}
	#botonBuscar{
		padding-left: 0px;
		width: 58%;
	}
	.input-group {
		width: 150% !important;
		margin-top: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}

	body:not(.woocommerce) .widget_area:not(.footer_wrap) aside.widget_product_categories,
	.widget_area aside.widget_recent_news,
	.widget_area aside.widget_recent_news .column-1_2	{
		width: 100%;
	}

	/* woo */
	body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories li:nth-child(n + 5) {
		display: none;
	}

	/* Body sizes */
	.slider_boxed, .content_wrap, .content_container {	width:440px; }

	/* Login and Register */
	.popup_wrap {
		left: 50%;
		-webkit-transform:translateX(-70%);
		   -moz-transform:translateX(-70%);
			-ms-transform:translateX(-70%);
				transform:translateX(-70%);
	}
	.popup_registration {
		-webkit-transform:translateX(-55%);
		   -moz-transform:translateX(-55%);
			-ms-transform:translateX(-55%);
				transform:translateX(-55%);
	}

	/* Posts layouts */
	.isotope_wrap {
		margin-right:-20px;
	}
	.isotope_wrap .isotope_item {
		padding-right:20px;
		padding-bottom:20px;
		min-width:50%;
	}

	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 230px;
		min-width:0;
	}
	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}
	.sc_recent_news_style_news-announce .post_item {		float:none; }
	.sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	.sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px; }
	.sc_recent_news_style_news-announce .post_size_medium {	width: 100%; height: 124px;  }
	.sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_full {	width: 100%; height: 124px; }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_big {	width: 100%; height: 124px;  }
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_medium,
	body.sidebar_hide .sc_recent_news_style_news-announce .post_size_small {	width: 100%; height: 124px;  }
	.sc_recent_news_style_news-announce .post_size_full .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_big .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_medium .post_featured { max-height: 100%; }
	.sc_recent_news_style_news-announce .post_size_small .post_featured { max-height: 100%; }

	/* Woo */
	body:not(.woocommerce) .widget_area:not(.footer_wrap) .widget_product_categories ul.product-categories.inited ul {
		right: -225px;
		width: 215px;
	}
}

@media (max-width: 479px) {



}

@media(max-width: 768px){
	.woocommerce table.shop_table_responsive tr td:before, .woocommerce-page table.shop_table_responsive tr td:before {
		font-weight: 600;
		text-transform: uppercase;
		color: #000;
	}
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		width: 100%;
	}
	#tribe-events-content .tribe-events-calendar td {
		height: 60px;
	}
	#tribe-events-content .tribe-events-calendar .mobile-active:hover, #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active, #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-], #tribe-events-content .tribe-events-calendar td.tribe-events-othermonth.mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar td.mobile-active,
	#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover, .tribe-events-calendar td.tribe-events-present.mobile-active, .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a, #tribe-events-content .tribe-events-calendar td:hover  {
		background-color: #fac328;
		color: #fff;
	}
	.tribe-events-calendar td div[id*=tribe-events-daynum-], .tribe-events-calendar td div[id*=tribe-events-daynum-] a{
		margin-top: 0;
		padding-top: 6px;
	}
	.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a,
	.scheme_dark .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a,
	.scheme_dark .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,
	.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a{background-color: transparent;}
	.tribe-events-calendar .tribe-events-has-events:after {	margin: 15px auto;	}
	.tribe-events-calendar .mobile-active.tribe-events-has-events:after { background-color: #000; }
	.single-tribe_events .tribe-events-schedule { background: #fff; }

}


@media (min-width: 768px) and (max-width: 959px) {
	html, body {	font-size: 13px; }
	h1 { font-size:3em; }		/* 39px */
	h2 { font-size:2.3077em; }	/* 30px */
	h3 { font-size:2.3077em; }	/* 30px */
	h4 { font-size:1.3846em; }	/* 18px */
	h5 { font-size:1.2308em; }	/* 16px */
	h6 { font-size:1em; }		/* 13px */

	h2.tribe-events-page-title,
	h1.tribe-events-single-event-title {
		font-size: 2.3077em;
	}
	.tribe-events-schedule h2{
		font-size:1.2308em;
	}

	/* Post layouts */
	.isotope_filters a {
		font-size:0.8461em;
	}

	/* Post parts */
	.post_info {
		font-size:0.8461em;
	}
	.post_info {
		font-size:0.8461em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3846em;
	}

	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.7692em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8461em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size: 0.7em;
	}

	/* Shortcodes */
	input[type="submit"], input[type="button"], button, .sc_button {
		padding: 0.75em 1.5em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}

}

@media (max-width: 639px){
	.header_mobile .logo_main {
		height: 40px;
	}
	.popup_wrap{
		width: auto;
		min-width: 260px;
		max-width: 260px;
	}
	.popup_wrap .form_left,
	.popup_wrap .form_right,
	.popup_wrap.popup_registration .form_left,
	.popup_wrap.popup_registration .form_right{
		float: none;
		padding: 0;
		border: none;
		width: 100%
	}
	.popup_wrap .form_right{
		margin-top: 20px;
	}
	.popup_wrap.popup_registration .form_right {
		margin-top: 0;
	}

	/* columns */
	.sc_columns_count_4 .column-3_4 {
		padding-top: 20px;
	}
	.responsive_columns.sc_columns_count_2 .sc_column_item ,
	.responsive_columns.sc_columns_count_3 .sc_column_item {
		width: 100%;
	}
	.responsive_columns.sc_columns_count_2 .sc_column_item + .sc_column_item ,
	.responsive_columns.sc_columns_count_3 .sc_column_item + .sc_column_item {
		padding-top: 20px;
	}
	.responsive_columns .sc_section.alignright{
		margin-left: 0;
	}

	/* woo */
	body:not(.woocommerce) .woocommerce ul.products:not(.categories) li.product:not(.product-category) {
		padding-bottom: 0;
		margin-bottom: -1px;
	}
	.single-product div.product .woocommerce-tabs .wc-tabs li a {
		padding: 0.6em 1.3em;
	}
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		width: 100%;
	}

	/* VC */
	.custom_texture_bg3:before, .responsive_bg:before{
		background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	/* recent news */
	.sc_recent_news_header_split .sc_recent_news_header_categories{
		display: none;
	}
	.sc_recent_news_header_split .sc_recent_news_header_captions {
		width: 100%;
	}
	.sc_recent_news_style_news-magazine .column-1_2:last-child {
		padding-left: 0;
		margin-top: 3em;
	}
	.sc_recent_news_with_accented .post_accented_off .post_header, .sc_recent_news_with_accented .post_accented_off .post_featured{
		width: 100%;
	}
	.sc_recent_news_with_accented .post_accented_off .post_featured{
		margin-bottom: 20px;
	    padding-right: 0;
	}
	.sc_recent_news_style_news-magazine .column-1_2:first-child {
		padding-right: 0;
		border-right: none;
	}

	/* skills */
	.sc_skills_columns.sc_skills_columns_5 .sc_skills_column,
	.sc_skills_columns.sc_skills_columns_5 .sc_skills_column:nth-child(2n+2),
	.sc_skills_columns.sc_skills_columns_5 .sc_skills_column:nth-child(2n+3),
	.sc_skills_columns.sc_skills_columns_5 .sc_skills_column:nth-child(2n+4) {
		width: 20%;
		padding-top: 0;
	}

	/* blogger */
	.ih-item.square .info p {
		line-height: 1.6em;
	}

	/* 404 */
	.search_style_button .search_submit {
		right: -105px;
	}
	.post_item_404 .page_search .search_wrap {
		max-width: 40%;
	}
	.top_panel_style_2 + .header_mobile .logo {
		padding-top: 10px;
		padding-bottom: 0;
	}
	.top_panel_style_2 + .header_mobile .logo_main {
		height: 60px;
	}
}


@media (min-width: 480px) and (max-width: 767px) {
	html, body {	font-size: 12px; }
	h1 { font-size:2.5em; }		/* 30px */
	h2 { font-size:2em; }		/* 24px */
	h3 { font-size:2em; }		/* 24px */
	h4 { font-size:1.3333em; }	/* 16px */
	h5 { font-size:1.1667em; }	/* 14px */
	h6 { font-size:1em; }		/* 12px */

	h2.tribe-events-page-title,
	h1.tribe-events-single-event-title {
		font-size: 2em;
	}
	.tribe-events-schedule h2{
		font-size:1.1667em;
	}

	/* Post layouts */
	.isotope_filters a {
		font-size:0.8333em;
	}

	/* Post parts */
	.post_info {
		font-size:0.8333em;
	}
	.post_info {
		font-size:0.8333em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}
	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3333em;
	}

	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.75em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8333em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8333em;
	}

	/* Shortcodes */
	input[type="submit"], input[type="button"], button, .sc_button {
		padding: 0.7em 0.6em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
}


@media (max-width: 480px){
	.header_mobile .content_wrap {
		margin-left: 35px;
		text-align: left;
	}
	.header_mobile .logo {
		padding-top: 24px;
		padding-bottom: 5px;
	}
	.header_mobile .menu_main_cart {
		right: 30px;
	}
	.header_mobile .menu_button {
		left: auto;
		right: 20px;
	}
	.header_mobile .side_wrap {
		left: -100%;
		width: 100%;
		top: 83px;
	}
	.header_mobile .mask{
		display: none !important;
	}
	/* woo */
	.product-categories .open_child_menu {
		right: 10px;
		top: 7px;
	}
	.woocommerce-page table.cart td.actions .input-text + .button{
		padding: 1.209em 1.58em;
	}
	.woocommerce table.cart td.actions > .button {
		padding: 1.209em 2.1em;
	    margin-bottom: 4px;
	}

	.responsive_margin {
		max-height: 10em !important;
	}
	/* header */
	.sc_title.responsive_header {
		font-size: 3.2em !important;
	}
	/* events */
	.sc_events_style_events-2 .sc_events_item_date {
		width: 3.5em;
	}
	.sc_events_style_events-2 .sc_events_item_title {
		padding: 0 1em 0 5em;
		font-size: 0.9em;
	}
	.single-tribe_events .tribe-events-event-image {
		float: right;
		margin: 0 0 2em 0;
		max-width: 100%;
	}
	/* images */
	.sc_image {
		min-width: 100%;
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/*audio */
	.sc_audio.sc_audio_image {
		padding: 103px 20px 35px;
	}
	.sc_audio .sc_audio_header {
		padding: 32px 20px;
	}
	/* 404 */
	.post_item_404 .page_title {
		font-size: 12em;
	}
	.post_item_404 .page_subtitle {
		font-size: 2em;
	}
	.post_item_404 .page_search .search_wrap {
		max-width: 100%;
	}
	.search_style_button.search_wrap {
		padding-right: 100px;
	}
	.search_style_button .search_submit {
		right: -100px;
	}
	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: left;
	}
	/* news */
	.sc_recent_news_style_news-magazine .column-1_2:first-child {
		padding-right: 10px;
	}
	/* googlemap */
	.sc_googlemap {
		margin: 0 15px;
		max-width: calc(100% - 30px);
	}
	.sc_skills.sc_skills_circle, .sc_skills.sc_skills_counter{margin: auto;}
	.sc_section.column-1_2 {	width: 100%;}

	.woocommerce .shop_mode_list ul.products li.product .post_featured, .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
		float: none;
		width: 100%;
	}
	.woocommerce .shop_mode_list ul.products li.product .description, .woocommerce-page .shop_mode_list ul.products li.product .description {
		max-height: 6.3em;
	}
	.woocommerce .woocommerce-message {
		padding-bottom: 60px !important;
	}

	.woocommerce-message a.button {
		position: absolute;
		bottom: 15px;
		padding: 1em 2em;
	}
	.woocommerce .woocommerce-message a:hover {
		top: auto !important;
	}
	.tribe-events-calendar thead th {
		padding: 7px 0.5em;
	}
	#tribe-mobile-container .type-tribe_events .tribe-events-event-image {
		float: none;
		width: 100%;
	}
	.single-tribe_events .tribe-events-event-image {
		float: none;
		max-width: 100%;
	}
	.sc_form .sc_form_address .sc_socials {
		margin-top: 0;
		margin-bottom: 3em;
	}
	.header_mobile .content_wrap {
		margin-left: auto;
	}
	.sc_events_style_events-2 .sc_events_button {
		margin-top: 3em;
	}
}


@media (max-width: 479px) {

	#dbotonLimpiar{
		padding-right: 4px;
	}
	#selectCalibre {
		margin-top: 0px;
		margin-right: 10%;
	}

	#selectCategoria{
		margin-top: 0px;
	}

	#inputBuscar {
		width: 200%;
	}
	#botonBuscar{
		padding-left: 0px;
	}
	.input-group {
		width: 90% !important;
		margin-top: 10px;
		margin-right: 15px;
		margin-left: 15px;
	}

	/* Body sizes */
	.body_style_boxed .page_wrap {		width:100%; }
	.slider_boxed, .content_wrap, .content_container {	width:280px; }

	/* Content and Sidebar */
	.sidebar_show .content { width: 100%; float: none; }
	.sidebar_show .sidebar { width: 100%; float: none; margin-top: 2em; }

	/* Fullwide or Fullscreen with sidebar */
	.body_style_fullwide.sidebar_right .content, .body_style_fullscreen.sidebar_right .content { padding-right: 0 !important; }
	.body_style_fullwide.sidebar_right .sidebar, .body_style_fullscreen.sidebar_right .sidebar { margin-left: 0 !important; }
	.body_style_fullwide.sidebar_left  .content, .body_style_fullscreen.sidebar_left  .content { padding-left:  0 !important; }
	.body_style_fullwide.sidebar_left  .sidebar, .body_style_fullscreen.sidebar_left  .sidebar { margin-right: 0 !important; }

	/* WooCommerce: Content and Sidebar */
	.woocommerce.sidebar_show .content { width: 100%; float: none; }
	.woocommerce .sidebar { 			 width: 100%; float: none; }

	.article_style_boxed .sidebar,
	.body_filled .sidebar[class*="scheme_"] {
		margin-top:10px;
	}

	.content + .sidebar.widget_area aside  {
		display: block;
		float:none;
		width: calc(100% - 5.6em);
		margin-left:0 !important;
	}
	.widget_area aside+aside {
		padding-top:1em;
		border-top:1px solid #f4f7f9;
		margin-top:1em;
	}

	/* Grid */
	.container, .container-fluid {
		padding-left:  5px;
		padding-right: 5px;
	}
	.row, .columns_wrap {
		margin-right: -10px;
	}
	.row > [class*="column-"], .columns_wrap > [class*="column-"] {
		padding-right: 10px;
	}
	.row.column_padding_left, .columns_wrap.column_padding_left {
		margin-left: -10px;
	}
	.row.column_padding_left > [class*="column-"], .columns_wrap.column_padding_left > [class*="column-"],
	.row > [class*="column-"].column_padding_left, .columns_wrap > [class*="column-"].column_padding_left {
		padding-left: 10px;
	}
	.row.column_padding_right, .columns_wrap.column_padding_right {
		margin-right: -10px;
	}
	.row.column_padding_right > [class*="column-"], .columns_wrap.column_padding_right > [class*="column-"],
	.row > [class*="column-"].column_padding_right, .columns_wrap > [class*="column-"].column_padding_right {
		padding-right:10px;
	}
	.row.column_padding_center, .columns_wrap.column_padding_center {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row.column_padding_center > [class*="column-"], .columns_wrap.column_padding_center > [class*="column-"],
	.row > [class*="column-"].column_padding_center, .columns_wrap > [class*="column-"].column_padding_center {
		padding-left:10px;
	}
	.row > [class*="column-"].column_padding_bottom, .columns_wrap > [class*="column-"].column_padding_bottom {
		padding-bottom: 10px;
	}

	/* Columns relayout (no columns) */
	.row:not(.columns_fluid) > [class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"] {
		width:100%;
	}
	.row.columns_fluid > [class*="column-"], .columns_wrap.columns_fluid > [class*="column-"] {
		width:50%;
	}
	.row.columns_fluid > .column-1_1, .row.columns_fluid > .column-2_2, .row.columns_fluid > .column-3_3, .row.columns_fluid > .column-4_4, .row.columns_fluid > .column-5_5,
	.row.columns_fluid > .column-6_6, .row.columns_fluid > .column-7_7, .row.columns_fluid > .column-8_8, .row.columns_fluid > .column-9_9, .row.columns_fluid > .column-10_10,
	.row.columns_fluid > .column-11_11, .row.columns_fluid > .column-12_12,
	.columns_wrap.columns_fluid > .column-1_1, .columns_wrap.columns_fluid > .column-2_2, .columns_wrap.columns_fluid > .column-3_3,
	.columns_wrap.columns_fluid > .column-4_4, .columns_wrap.columns_fluid > .column-5_5, .columns_wrap.columns_fluid > .column-6_6,
	.columns_wrap.columns_fluid > .column-7_7, .columns_wrap.columns_fluid > .column-8_8, .columns_wrap.columns_fluid > .column-9_9,
	.columns_wrap.columns_fluid > .column-10_10, .columns_wrap.columns_fluid > .column-11_11, .columns_wrap.columns_fluid > .column-12_12,
	.row.columns_fluid > .column-1_3:nth-child(3n), .columns_wrap.columns_fluid > .column-1_3:nth-child(3n),
	.row.columns_fluid > .column-2_3, .columns_wrap.columns_fluid > .column-2_3,
	.row.columns_fluid > .column-1_3.after_span_2, .columns_wrap.columns_fluid > .column-1_3.after_span_2,
	.row.columns_fluid > .column-2_4, .columns_wrap.columns_fluid > .column-3_4,
	.row.columns_fluid > .column-1_4.after_span_2, .columns_wrap.columns_fluid > .column-1_4.after_span_3,
	.row.columns_fluid > .column-1_5:nth-child(5n), .columns_wrap.columns_fluid > .column-1_5:nth-child(5n),
	.row.columns_fluid > .column-2_5, .columns_wrap.columns_fluid > .column-2_5,
	.row.columns_fluid > .column-3_5, .columns_wrap.columns_fluid > .column-3_5,
	.row.columns_fluid > .column-4_5, .columns_wrap.columns_fluid > .column-4_5,
	.row.columns_fluid > .column-2_6, .columns_wrap.columns_fluid > .column-2_6,
	.row.columns_fluid > .column-3_6, .columns_wrap.columns_fluid > .column-3_6,
	.row.columns_fluid > .column-4_6, .columns_wrap.columns_fluid > .column-4_6,
	.row.columns_fluid > .column-5_6, .columns_wrap.columns_fluid > .column-5_6	{
		width:100%;
	}
	.row:not(.columns_fluid) > [class*="column-"]+[class*="column-"], .columns_wrap:not(.columns_fluid) > [class*="column-"]+[class*="column-"],
	.row.columns_fluid > [class*="column-"]:nth-child(2n+3), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+3),
	.row.columns_fluid > [class*="column-"]:nth-child(2n+4), .columns_wrap.columns_fluid > [class*="column-"]:nth-child(2n+4) {
		padding-top: 10px;
	}

	.gallery.gallery-columns-9 .gallery-item {	width: 100% !important; }
	.gallery.gallery-columns-8 .gallery-item {	width: 100% !important; }
	.gallery.gallery-columns-7 .gallery-item {	width: 100% !important; }
	.gallery.gallery-columns-6 .gallery-item {	width: 100% !important; }
	.gallery.gallery-columns-5 .gallery-item {	width: 100% !important; }
	.gallery.gallery-columns-4 .gallery-item {	width: 100% !important; }
	.gallery.gallery-columns-3 .gallery-item {	width: 100% !important; }

	/* Top Panel */
	.top_panel_top_contact_area,
	.top_panel_top_open_hours,
	.top_panel_top_user_area,
	.top_panel_top_socials {
		float:none;
		clear:both;
		width:100%;
		text-align:center;
		margin:0.5em 0 0 0;
	}
	.top_panel_top_user_area .menu_user_nav {
		display:inline-block;
		float: none;
		margin-top:-0.5em;
	}
	.top_panel_top .search_field {
		max-width:3em;
	}
	.top_panel_top_socials {
		line-height:1em;
	}
	.top_panel_top_socials .sc_socials_item {
		margin-right:1.4em !important;
	}
	.top_panel_top_user_area .menu_user_nav li {
		text-align:left;
	}
	.top_panel_top_user_area .menu_user_nav > li > a {
		padding:0.5em 0;
	}

	.top_panel_middle .logo {
		font-size:0.875em;
	}
	.top_panel_middle .logo img {
		max-height:40px;
	}

	.top_panel_style_1 .contact_logo {
		width:100%;
	}
	.top_panel_style_1 .logo {
		text-align:center;
	}
	.top_panel_style_1 .contact_field {
		text-align:center;
		margin-top:1em;
		margin-bottom:2em;
		padding-top:0 !important;
		width:33.3333% !important;
	}
	.top_panel_style_1 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
		margin-bottom:0.3em;
	}
	.top_panel_style_2 .contact_logo,
	.top_panel_style_2 .contact_field {
		width:100% !important;
	}
	.top_panel_style_2 .contact_logo {
		margin:0;
		padding:0 !important;
	}
	.top_panel_style_2 .contact_logo .logo {
		margin:0;
	}
	.top_panel_style_2 .logo {
		text-align:center;
	}
	.top_panel_style_2 .contact_field {
		text-align:center;
		margin:1.5em 0;
		padding:0 !important;
	}
	.top_panel_style_2 .contact_phone > span+span {
		text-align:center;
	}
	.top_panel_style_2 .contact_field .contact_icon {
		float: none;
		margin-right:auto;
		margin-left:auto;
	}

	.top_panel_title .page_title,
	.top_panel_title .post_navi,
	.top_panel_title .breadcrumbs {
		max-width: 100% !important;
		float:none;
		text-align:center;
	}
	.top_panel_title.title_present .breadcrumbs {
		padding: 0 0 1.5em 0 !important;
	}

	.menu_user_nav > li {
		float: none;
		display:inline-block;
	}

	.top_panel_style_3 .top_panel_top_search,
	.top_panel_style_3 .menu_user_nav {
		margin-top: 0;
		line-height:1.2857em;
	}
	.top_panel_style_3 .top_panel_top_search {
		padding-top: 0;
	}
	.top_panel_style_3 .search_submit,
	.top_panel_style_3 .search_field {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.top_panel_style_3 .search_results {
		right: auto;
		left:0;
		top: 3em;
	}
	.top_panel_style_3 .search_results:after {
		right: auto;
		left:4em;
	}
	.top_panel_style_5 .top_panel_middle .sidebar_cart,
	.top_panel_style_6 .top_panel_middle .sidebar_cart {
		right:-100px;
	}
	.top_panel_style_5 .top_panel_middle .sidebar_cart:after,
	.top_panel_style_6 .top_panel_middle .sidebar_cart:after {
		right:46%;
		left:auto;
	}

	.top_panel_style_8 .contact_logo {
		display:block;
		position:static;
		left: auto;
		top:auto;
		-webkit-transform:none;
		-moz-transform:none;
		transform:none;
		padding: 2em 0 0 0;
		text-align:center;
	}

	/* Login and Register */
	.popup_wrap {
		width: 300px;
		left: 50%;
		-webkit-transform:translateX(-55%);
		-moz-transform:translateX(-55%);
		-ms-transform:translateX(-55%);
		transform:translateX(-55%);
	}
	.popup_wrap .popup_form_field .forgot_password {
		float: none;
		display:block;
		margin-bottom:0.5em;
	}
	.popup_wrap .login_socials_title {
		font-size:1.25em;
	}
	.popup_wrap input[type="text"], .popup_wrap input[type="email"], .popup_wrap input[type="password"] {
		font-size:1em;
	}

	/* Posts layouts */
	.post_featured_left > .post_featured,
	.post_featured_right > .post_featured {
		float: none;
		margin-left: 0;
		margin-bottom: 2em;
		width: 100%;
	}

	.isotope_wrap {
		margin-right:-10px;
	}
	.isotope_wrap .isotope_item {
		padding-right:10px;
		padding-bottom:10px;
		width:100% !important;
	}
	.sc_scroll_horizontal .sc_blogger .isotope_item,
	.sc_scroll_horizontal .sc_blogger [class*=column-],
	.sc_blogger .sc_scroll_horizontal .isotope_item,
	.sc_blogger .sc_scroll_horizontal [class*=column-] {
		width: 290px !important;
	}

	.isotope_wrap .isotope_item_colored_1 .post_featured {
		float:none;
		width:100%;
	}
	.isotope_wrap .isotope_item_colored_1 .post_description {
		padding-left: 2em;
		padding-bottom: 2em;
	}


	/* Comments */
	.comments_list_wrap ul ul {
		/* padding-left:0; */
		margin-left:0;
	}
	.comments_list_wrap ul.children {
		padding-left: 0;
	}

	/* Widgets */
	td, th {
		padding:2px;
	}
	.widget_area .post_item .post_title {
		margin-top:0;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li + li {
		margin-left:0.4em;
	}
	.widget_area .sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		padding: 2px 0.5em;
	}


	/* Woocommerce */
	.woocommerce-shipping-fields {
		margin-top: 2em;
	}
	.woocommerce ul.products, .woocommerce-page ul.products {
		margin-right:-20px;
	}
	.woocommerce.columns-1 ul.products li.product, .woocommerce-page.columns-1 ul.products li.product,
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		padding: 0 20px 20px 0;
	}
	.woocommerce .widget_price_filter .price_label {
		font-size: 1em;
	}
	.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
		font-size: 1em;
	}
	.top_panel_wrap .widget_shopping_cart ul.cart_list > li > a:not(.remove) {
		margin-top:-0.15em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding:0;
	}
	.woocommerce table.cart img, .woocommerce #content table.cart img, .woocommerce-page table.cart img, .woocommerce-page #content table.cart img {
		width: 40px;
	}
	.woocommerce table.cart td, .woocommerce #content table.cart td, .woocommerce-page table.cart td, .woocommerce-page #content table.cart td {
		padding: 4px;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .coupon, .woocommerce table.cart td.actions .coupon, .woocommerce-page #content table.cart td.actions .coupon, .woocommerce-page table.cart td.actions .coupon {
		float:left;
	}
	.woocommerce #content table.cart td.actions .button, .woocommerce table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page table.cart td.actions .button {
		width: auto;
	}
	.woocommerce #content table.cart td.actions .button.alt, .woocommerce #content table.cart td.actions .input-text + .button, .woocommerce table.cart td.actions .button.alt, .woocommerce table.cart td.actions .input-text + .button, .woocommerce-page #content table.cart td.actions .button.alt, .woocommerce-page #content table.cart td.actions .input-text + .button, .woocommerce-page table.cart td.actions .button.alt, .woocommerce-page table.cart td.actions .input-text + .button {
		float:left;
	}
	.woocommerce #content table.cart td.actions > .button, .woocommerce table.cart td.actions > .button, .woocommerce-page #content table.cart td.actions > .button, .woocommerce-page table.cart td.actions > .button {
		float: right;
	}
	.woocommerce div.product div.images, .woocommerce #content div.product div.images, .woocommerce-page div.product div.images, .woocommerce-page #content div.product div.images {
		width: 100%;
		float:none;
	}

	.woocommerce[class*="column-"] ul.products li.product, .woocommerce-page[class*="column-"] ul.products li.product,
	.woocommerce ul.products li.product[class*="column-"], .woocommerce-page ul.products li.product[class*="column-"],
	.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product,
	.woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product,
	.woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product {
		width: 100%;
		float:none;
	}

	.woocommerce.columns-2 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_2, .woocommerce-page .related.products ul.products li.product.column-1_2,
	.woocommerce .upcells.products ul.products li.product.column-1_2, .woocommerce-page .upcells.products ul.products li.product.column-1_2,
	.woocommerce ul.products li.product.column-1_2, .woocommerce-page ul.products li.product.column-1_2,
	.woocommerce.columns-3 ul.products li.product, .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_3, .woocommerce-page .related.products ul.products li.product.column-1_3,
	.woocommerce .upcells.products ul.products li.product.column-1_3, .woocommerce-page .upcells.products ul.products li.product.column-1_3,
	.woocommerce ul.products li.product.column-1_3, .woocommerce-page ul.products li.product.column-1_3,
	.woocommerce.columns-4 ul.products li.product, .woocommerce-page.columns-4 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_4, .woocommerce-page .related.products ul.products li.product.column-1_4,
	.woocommerce .upcells.products ul.products li.product.column-1_4, .woocommerce-page .upcells.products ul.products li.product.column-1_4,
	.woocommerce ul.products li.product.column-1_4, .woocommerce-page ul.products li.product.column-1_4,
	.woocommerce.columns-5 ul.products li.product, .woocommerce-page.columns-5 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_5, .woocommerce-page .related.products ul.products li.product.column-1_5,
	.woocommerce .upcells.products ul.products li.product.column-1_5, .woocommerce-page .upcells.products ul.products li.product.column-1_5,
	.woocommerce ul.products li.product.column-1_5, .woocommerce-page ul.products li.product.column-1_5,
	.woocommerce.columns-6 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product,
	.woocommerce .related.products ul.products li.product.column-1_6, .woocommerce-page .related.products ul.products li.product.column-1_6,
	.woocommerce .upcells.products ul.products li.product.column-1_6, .woocommerce-page .upcells.products ul.products li.product.column-1_6,
	.woocommerce ul.products li.product.column-1_6, .woocommerce-page ul.products li.product.column-1_6 {
		width: 100%;
		float:none;
	}


	/* Shortcodes */
	.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title .sc_accordion_icon {
		border-width: 1px;
	}
	input.sc_button_size_large[type="submit"], input.sc_button_size_large[type="button"], button.sc_button_size_large, .sc_button.sc_button_size_large {
		padding: 1em 1.25em;
	}
	input.sc_button_size_medium[type="submit"], input.sc_button_size_medium[type="button"], button.sc_button_size_medium, .sc_button.sc_button_size_medium {
		padding: 0.8em 1em;
	}
	input[type="submit"]:before, input[type="button"]:before, button:before, .sc_button:before {
		margin-right:4px;
	}

	.sc_blogger.layout_date.sc_blogger_horizontal .sc_blogger_item {
		min-width: 50%;
		margin-bottom: 1em;
	}

	.sc_form .sc_form_field {
		float: none;
		width: 100%;
		padding-left:0 !important;
	}

	.sc_googlemap {
		max-height:200px;
	}
	.sc_googlemap_content {
		position:static;
		width: auto;
	}

	.sc_price_block .sc_price_block_description {
		height: 5.5em;
	}
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a,
	.sc_socials_type_icons.sc_socials_shape_round.sc_socials_size_small a .sc_socials_hover {
		width:2.5em;
		height:2.5em;
		line-height:2.5em;
	}
	.sc_socials.sc_socials_size_small .social_icons span {
		font-size:1.2em;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a:before, .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li a:after {
		font-size: 24px;
		line-height: 24px;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:before, .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li:not(.ui-state-active) a:hover:before {
		left: -9px;
		opacity: 1;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after, .sc_tabs.sc_tabs_style_1 .sc_tabs_titles li:not(.ui-state-active) a:hover:after {
		right: -9px;
		opacity: 1;
	}
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.ui-state-active a:after,
	.sc_tabs.sc_tabs_style_1 .sc_tabs_titles li.sc_tabs_active a:after {
		height:2px;
	}
	.sc_twitter_item {
		padding:0 3em;
	}
	.sc_twitter .sc_slider_controls_wrap a {
		font-size: 1.5em;
	}
	.sc_video_player.sc_video_bordered .sc_video_frame {
		max-width:198px;
	}

	.sc_promo_block {
		min-width: 100%;
		margin: 0 !important;
		float:none;
	}
	.sc_promo_block_inner {
		padding: 2em;
	}
	.sc_promo_image {
		position: relative;
		height: 200px;
		min-width: 100%;
	}
	.sc_promo_block.sc_align_left *,
	.sc_promo_block.sc_align_left *:after {
		text-align: center !important;
	}
	.sc_promo_block.sc_align_right *,
	.sc_promo_block.sc_align_right *:after {
		text-align: center !important;
		margin-right: auto;
	}

	/* Scroll to Top */
	.scroll_to_top {
		right: 2em;
	}
	.scroll_to_top.show {
		bottom: 3%;
	}

	html, body {	font-size: 12px; }
	h1 { font-size:2.5em; }
	h2 { font-size:2em; }
	h3 { font-size:2em; }
	h4 { font-size:1.3333em; }
	h5 { font-size:1.1667em; }
	h6 { font-size:1em; }

	h2.tribe-events-page-title,
	h1.tribe-events-single-event-title {
		font-size: 2em;
	}
	.tribe-events-schedule h2{
		font-size:1.1667em;
	}

	/* Post layouts */
	.isotope_filters a {
		font-size:0.8333em;
	}

	/* Post parts */
	.post_info {
		font-size:0.8333em;
	}
	.post_info {
		font-size:0.8333em;
	}
	.post_rating .reviews_star {
		font-size:1em;
	}

	.post_item_colored .post_category {
		font-size:1em;
		margin:0 0 0.4em;
	}
	.post_item_colored .post_descr .post_price_period {
		font-size:1em;
	}
	.post_item_colored .post_descr .post_price_value {
		font-size:1.3333em;
	}


	/* Footer */
	.contacts_wrap .contacts_address {
		font-size: 1em;
	}

	/* Widgets */
	.widget_area .post_item .post_info {
		font-size:0.75em;
	}
	.widget_area .widget_tag_cloud a {
		font-size:0.8333em !important;
	}
	.widget_area .widget_calendar .weekday {
		font-size:0.8333em;
	}

	/* Shortcodes */
	input[type="submit"], input[type="button"], button, .sc_button {
		padding: 0.7em 0.6em;
	}
	blockquote {
		font-size: 1.5em;
	}
	.sc_testimonial_content {
		font-size:1.25em;
	}
	.sc_testimonial_author {
		font-size: 1em;
	}
	.sc_tabs .sc_tabs_titles li {
		margin-right: 2px;
	}
	.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li a {
		border-width: 1px;
	}
}
