.wrapper:hover .inner {
    transform: rotate(0) !important
}

.wrapper:hover img {
    z-index: 5000;
    transform: scale(1.3);
    transition: transform .5s ease;
    margin-bottom: 1em;

}

.inner {
    background-color: black;
    color: white;
    transition: .3s;
    -webkit-box-shadow: -16px 21px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -16px 21px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: -16px 21px 8px 1px rgba(0, 0, 0, 0.75);
}

.inner figure {
    box-shadow: -6px 6px 2px -3px rgba(100, 100, 100, .1);
    width: 11em;
    padding: 1em;
    display: inline-block;
    margin-right: 1em;
    background: rgba(250, 200, 200, 0.1);
    border: 1px solid rgba(250, 200, 200, .5);
}

.inner figcaption {
    text-align: center;
    margin: .5em 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: darken(tomato, 15%);
}

.inner img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
@media (max-width: 767px){
    .inner img {
        max-width: 70%;
    }
}

.modal-dialog {
    max-width: 95% !important;
}
.container{
    display: flex;
}
.catalogo{
    position: fixed;
    left:0px;
    bottom:3%;
    color:white;
    margin-left: 15px;
}
.hiddenContainer{
    display: none !important;
}
.contenedorItems{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
}
.itemProducto{
    margin: 3px;
    background-color: black;
    min-width: 30%;
    border-radius: 6px;
    padding: 0px 7px 0px 7px;
}