input[type="submit"], input[type="button"], button, .sc_button {
    display: inline-block;
    text-align: center;
    padding: 1.209em 2.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border: 2px solid;
    border-width: 2px !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.sc_socials {
    overflow: hidden;
    display: inline-block;
    margin-right: -1.25em;
}

.sc_socials .sc_socials_item {
    display: block;
    margin: 0 1.25em 0.5em 0;
    outline: none;
    float: left;
}

.sc_socials a {
    display: inline-block;
    outline: none;
}

.sc_socials a, .sc_socials a .sc_socials_hover {
    overflow: hidden;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 6px;
    /* Hack for Chrome - show sharp corners while animation */
    background-repeat: no-repeat;
    background-position: 0 -4em;
    -webkit-background-size: 4em 8em;
    -moz-background-size: 4em 8em;
    -o-background-size: 4em 8em;
    background-size: 4em 8em;
}

.sc_socials .social_icons span {
    font-size: 4em;
    line-height: inherit;
}
.sc_socials.sc_socials_size_medium {
    margin-right: -0.625em;
}

.sc_socials.sc_socials_size_medium .sc_socials_item {
    margin: 0.25em 0.625em 0.25em 0;
}
.sc_socials.sc_socials_size_small a, .sc_socials.sc_socials_size_medium a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sc_socials.sc_socials_size_medium .social_icons span {
    font-size: 2em;
    line-height: inherit;
}

.sc_socials.sc_socials_size_medium a, .sc_socials.sc_socials_size_medium a .sc_socials_hover {
    width: 3em;
    height: 3em;
    line-height: 2.5em;
    background-position: 0 -2.5em;
    -webkit-background-size: 2.5em 5em;
    -moz-background-size: 2.5em 5em;
    -o-background-size: 2.5em 5em;
    background-size: 2.5em 5em;
}
.sc_item_title {
	margin: 0;
	text-align:center;
}
.sc_item_title:after {
    content: '';
    font-style: normal;
    display: block;
    margin-left: 10px;
    font-weight: 900;
    margin: 0.65em auto 1em;
    font-size: 0.45em;
    line-height: 1em;
    font-family: fantasy;
    letter-spacing: 1px;
}
.sc_testimonials_title.sc_item_title:after {
    content: '\e904';
    font-family: fontello;
    font-weight: 400;
    font-size: 0.35em;
    margin: 2em 0 2.5em;
}
.sc_googlemap_content .sc_item_title:after {
	margin-bottom:0.3em;
}
.sc_googlemap_content .sc_item_title:after {
	display:none;
}
.sc_events_style_events-2 .sc_events_title.sc_item_title {
    text-align: left;
    margin-bottom: 0.85em;
}
.sc_events_style_events-2 .sc_events_title.sc_item_title:after {
	content: none;
}
.sc_item_title {
	margin: 0;
	text-align:center;
}
.sc_item_title:after {
    content: '';
    font-style: normal;
    display: block;
    margin-left: 10px;
    font-weight: 900;
    margin: 0.65em auto 1em;
    font-size: 0.45em;
    line-height: 1em;
    font-family: fantasy;
    letter-spacing: 1px;
}
.sc_section {
    position: relative;
    max-width: 100%;
}

.sc_section:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
.sc_skills {
    width: 100%;
}
.sc_skills_counter {
    text-align: center;
    max-width: 100%;
}

.sc_skills_counter .sc_skills_item {
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}

.sc_skills_counter .sc_skills_item .sc_skills_icon {
    font-size: 4em!important;
    font-weight: 300;
    line-height: 1em;
}
.sc_skills_counter .sc_skills_item .sc_skills_info {
    color: #222222;
    font-size: 1.125em;
    line-height: 1.2857em;
    margin: 10px 0;
}

.sc_skills_counter .sc_skills_item.sc_skills_style_1 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2.3em 1em 2.9em;
}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
    margin-top: 0.2em;
    position: relative;
}
.sc_skills_counter .sc_skills_label {
    font-size: larger;
    letter-spacing: 0.6px;
}
.sc_socials {
    overflow: hidden;
    display: inline-block;
    margin-right: -1.25em;
}

.sc_socials .sc_socials_item {
    display: block;
    margin: 0 1.25em 0.5em 0;
    outline: none;
    float: left;
}

.sc_socials a {
    display: inline-block;
    outline: none;
}

.sc_socials a, .sc_socials a .sc_socials_hover {
    overflow: hidden;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 6px;
    /* Hack for Chrome - show sharp corners while animation */
    background-repeat: no-repeat;
    background-position: 0 -4em;
    -webkit-background-size: 4em 8em;
    -moz-background-size: 4em 8em;
    -o-background-size: 4em 8em;
    background-size: 4em 8em;
}

.sc_socials .social_icons span {
    font-size: 4em;
    line-height: inherit;
}

.sc_socials.sc_socials_size_tiny {
    margin-right: -1em;
}
.sc_socials.sc_socials_size_medium {
    margin-right: -0.625em;
}

.sc_socials.sc_socials_size_medium .sc_socials_item {
    margin: 0.25em 0.625em 0.25em 0;
}
.sc_socials.sc_socials_size_small a, .sc_socials.sc_socials_size_medium a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.sc_team_style_team-1 .sc_team_item_info, .sc_team_style_team-3 .sc_team_item_info {
    padding-top: 2.2em;
}
.sc_title {
    overflow: hidden;
    position: relative;
    padding-bottom: 2px;
}
.sc_item_title {
    margin: 0;
    text-align: center;
}

.sc_item_title:after {
    content: '';
    font-style: normal;
    display: block;
    margin-left: 10px;
    font-weight: 900;
    margin: 0.65em auto 1em;
    font-size: 0.45em;
    line-height: 1em;
    font-family: fantasy;
    letter-spacing: 1px;
}
.sc_item_descr {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0.25em 0 0 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.sc_infobox.result {
    display: none;
    width: 70%;
    position: absolute;
    z-index: 1000;
    top: 38%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.2);
}
.sc_infobox {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    padding: 2.429em;
    clear: both;
    font-family: Lato;
}
.sc_form .sc_form_button {
    text-align: center;
    margin: 2.9em 0 0;
}

.sc_form_style_form_2 .sc_form_item, .sc_form_style_form_2 .sc_form_button, .sc_form_style_form_2 .sc_form_item input[type="text"], .sc_form_style_form_2 .sc_form_item select, .sc_form_style_form_2 .sc_form_item textarea {
    text-align: left;
}
.sc_form .sc_form_field input, .sc_form .sc_form_message textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sc_form .sc_form_message textarea {
    min-height: 12em;
}
.sc_form .sc_form_address_label {
    display: block;
    font-weight: 700;
}

.sc_form .sc_form_field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sc_form .label_over label {
    display: none;
}

.sc_form .sc_form_item {
    margin-bottom: 0.7143em;
    width: 100%;
    text-align: center;
}

.sc_form .sc_form_item input[type="text"], .sc_form .sc_form_item select, .sc_form .sc_form_item textarea {
    padding: 1em;
    text-align: center;
}

.sc_form .sc_form_address_field {
    margin-bottom: 1.75em;
    text-align: left;
}
.sc_form form {
    position: relative;
}

.sc_form .result {
    display: none;
    width: 70%;
    position: absolute;
    z-index: 1000;
    top: 38%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.sc_form_descr.sc_item_descr {
    margin-bottom: 4.5em;
}