@charset "utf-8"; body {
    font-family: "Hind", sans-serif;
    font-size: 14px;
    line-height: 1.7957em;
    font-weight: 400
}

.scheme_original .body_wrap {
    color: #808080
}
h2 {
    font-family: "Lato", sans-serif;
    font-size: 3.5714em;
    line-height: 1.3em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.36em
}
h5 {
    font-family: "Lato", sans-serif;
    font-size: 1.2857em;
    line-height: 1.3em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 1.35em
}

h6 {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 0.4em
}

.scheme_original h1, .scheme_original h2, .scheme_original h3, .scheme_original h4, .scheme_original h5, .scheme_original h6, .scheme_original h1 a, .scheme_original h2 a, .scheme_original h3 a, .scheme_original h4 a, .scheme_original h5 a, .scheme_original h6 a {
    color: #fff
}
.scheme_original a {
    color: #fff
}
.scheme_original a:hover {
    color: #fac328
}
.scheme_original td, .scheme_original th {
    border-color: #343539
}
.scheme_original body, .scheme_original .copy_wrap, .scheme_original .sidebar_cart, .scheme_original .widget_area_inner, .scheme_original #page_preloader {
    background-color: #1d1e23
}
.scheme_original .top_panel_wrap_inner {
    background-color: #1d1e23
}
.scheme_original .top_panel_middle {
    background-color: #1d1e23
}
.top_panel_middle .logo {
    margin-top: 3em;
    margin-bottom: 1.45em
}
.scheme_original .top_panel_bottom {
    background-color: #1d1e23
}
.scheme_original .top_panel_bottom {
    border-color: #121215
}
.menu_main_nav> li > a {
    padding: 0.708em 1.5em 0.708em;
    font-size: 0.858em;
    line-height: 1.2857em
}

.scheme_original .menu_main_nav>li>a {
    color: #b4b4b4
}
.scheme_original .menu_main_nav>li>a:hover {
    color: #fac328
}
.scheme_original .top_panel_wrap_inner .menu_main_nav>li>a {
    color: #b4b4b4
}
.scheme_original .top_panel_wrap_inner .menu_main_nav>li>a:hover {
    color: #fac328
}
.scheme_original .menu_main_nav>li ul {
    color: #fff
}
.scheme_original .menu_main_nav>li ul {
    background-color: #121215
}
.scheme_original .menu_main_nav>li ul {
    border-color: #121215
}
.scheme_original .menu_main_nav>a:hover, .scheme_original .menu_main_nav>li.sfHover>a, .scheme_original .menu_main_nav>li#blob, .scheme_original .menu_main_nav>li.current-menu-item>a, .scheme_original .menu_main_nav>li.current-menu-parent>a, .scheme_original .menu_main_nav>li.current-menu-ancestor>a {
    color: #fac328
}
.scheme_original .top_panel_wrap_inner .menu_main_nav>li ul, .scheme_original .top_panel_inner_style_2 .menu_main_nav>li ul {
    border-color: #343539
}
.scheme_original .top_panel_wrap_inner .menu_main_nav>li ul, .scheme_original .top_panel_inner_style_2 .menu_main_nav>li ul {
    background-color: #1d1e23
}
.scheme_original .top_panel_wrap_inner .menu_main_nav>a:hover, .scheme_original .top_panel_wrap_inner .menu_main_nav>li.sfHover>a, .scheme_original .top_panel_wrap_inner .menu_main_nav>li#blob, .scheme_original .top_panel_wrap_inner .menu_main_nav>li.current-menu-item>a, .scheme_original .top_panel_wrap_inner .menu_main_nav>li.current-menu-parent>a, .scheme_original .top_panel_wrap_inner .menu_main_nav>li.current-menu-ancestor>a {
    color: #fac328
}
.menu_main_nav>li>ul {
    font-size: 0.858em;
    line-height: 1.2857em
}

.menu_main_nav>li>ul {
    top: 4.7017em
}

.menu_main_nav>li ul li a {
    padding: inherit 1.5em inherit
}

.scheme_original .menu_main_nav>li ul li a {
    color: #fff
}
.scheme_original .top_panel_wrap_inner .menu_main_nav>li ul li a {
    color: #b4b4b4
}
.scheme_original .top_panel_middle .contact_field, .scheme_original .top_panel_middle .contact_field>a {
    color: #fff
}
.scheme_original .top_panel_wrap .contact_field>.contact_email, .scheme_original .top_panel_wrap .contact_field>a>.contact_cart_totals, .scheme_original .top_panel_wrap .contact_field>.contact_address_2 {
    color: #b4b4b4
}
.scheme_original .top_panel_middle .contact_icon {
    color: #fff
}
.scheme_original .widget_area_inner {
    color: #808080
}
.scheme_original .widget_area_inner {
    background-color: #121215
}
.scheme_original .widget_area_inner a, .scheme_original .widget_area_inner ul li:before, .scheme_original .widget_area_inner ul li a:hover, .scheme_original .widget_area_inner button:before {
    color: #fac328
}
.scheme_original .widget_area_inner a:hover, .scheme_original .widget_area_inner ul li a, .scheme_original .widget_area_inner button:hover:before {
    color: #b4b4b4
}
.scheme_original .contacts_wrap_inner {
    color: #808080
}
.scheme_original .contacts_wrap_inner {
    background-color: #121215
}
.scheme_original .copyright_wrap_inner {
    background-color: #000
}
.scheme_original .copyright_wrap_inner .copyright_text {
    color: #808080
}
.scheme_original .copyright_wrap_inner .copyright_text a {
    color: #fac328
}
.scheme_original .footer_wrap_inner.widget_area_inner {
    background-color: #1d1e23
}
.scroll_to_top {
    border: none;
    background-color: transparent
}

.scheme_original .scroll_to_top {
    color: transparent
}
input[type="submit"], input[type="reset"], input[type="button"], button, .sc_button {
    font-size: 0.857em;
    line-height: 1.2857em
}

.scheme_original input[type="submit"], .scheme_original input[type="reset"], .scheme_original input[type="button"], .scheme_original button, .scheme_original .sc_button {
    color: #fff
}
.scheme_original input[type="submit"], .scheme_original input[type="reset"], .scheme_original input[type="button"], .scheme_original button, .scheme_original .sc_button {
    background-color: #fac328
}
.scheme_original input[type="submit"], .scheme_original input[type="reset"], .scheme_original input[type="button"], .scheme_original button, .scheme_original .sc_button {
    border-color: #fac328
}
.scheme_original input[type="submit"]:hover, .scheme_original input[type="reset"]:hover, .scheme_original input[type="button"]:hover, .scheme_original button:hover, .scheme_original .sc_button.sc_button_style_filled:hover {
    background-color: #fe8905
}
.scheme_original input[type="submit"]:hover, .scheme_original input[type="reset"]:hover, .scheme_original input[type="button"]:hover, .scheme_original button:hover, .scheme_original .sc_button.sc_button_style_filled:hover {
    border-color: #fe8905
}
.scheme_original .sc_socials.sc_socials_type_icons a {
    color: #fff
}
.scheme_original .sc_socials.sc_socials_type_icons a {
    border-color: #fff
}
.scheme_original .sc_socials.sc_socials_type_icons a:hover:before, .scheme_original .sc_socials.sc_socials_type_icons a:hover:after {
    color: #fac328
}
.scheme_original .menu_main_nav>li>a:hover:before, .scheme_original .menu_main_nav>li>a:hover:after {
    color: #fac328
}