h1 {
    font-family: "Lato", sans-serif;
    font-size: 3.9285em;
    line-height: 1.3em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.3em
}
h5 {
    font-family: "Lato", sans-serif;
    font-size: 1.2857em;
    line-height: 1.3em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 1.35em
}
#sc_form_username, #sc_form_email, #sc_form_subj, #sc_form_message {
    text-align: start !important;
}
.scheme_original h1, .scheme_original h2, .scheme_original h3, .scheme_original h4, .scheme_original h5, .scheme_original h6, .scheme_original h1 a, .scheme_original h2 a, .scheme_original h3 a, .scheme_original h4 a, .scheme_original h5 a, .scheme_original h6 a {
    color: #fff
}
.scheme_original .body_wrap.bg_image .page_content_wrap h1, .scheme_original .body_wrap.bg_image .page_content_wrap h2, .scheme_original .body_wrap.bg_image .page_content_wrap h3, .scheme_original .body_wrap.bg_image .page_content_wrap h4, .scheme_original .body_wrap.bg_image .page_content_wrap h5, .scheme_original .body_wrap.bg_image .page_content_wrap h6, .scheme_original .body_wrap.bg_image .page_content_wrap h1 a, .scheme_original .body_wrap.bg_image .page_content_wrap h2 a, .scheme_original .body_wrap.bg_image .page_content_wrap h3 a, .scheme_original .body_wrap.bg_image .page_content_wrap h4 a, .scheme_original .body_wrap.bg_image .page_content_wrap h5 a, .scheme_original .body_wrap.bg_image .page_content_wrap h6 a {
    color: #1d1e23
}
.scheme_original a {
    color: #fff
}
.scheme_original a:hover {
    color: #fac328
}
.scheme_original td, .scheme_original th {
    border-color: #343539
}
input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="password"], select, textarea {
    line-height: 1.2857em
}

.scheme_original input[type="text"], .scheme_original input[type="number"], .scheme_original input[type="email"], .scheme_original input[type="search"], .scheme_original input[type="password"], .scheme_original select, .scheme_original textarea {
    color: #808080
}
.scheme_original input[type="text"], .scheme_original input[type="number"], .scheme_original input[type="email"], .scheme_original input[type="search"], .scheme_original input[type="password"], .scheme_original select, .scheme_original textarea {
    background-color: #121215
}
.scheme_original body, .scheme_original .copy_wrap, .scheme_original .sidebar_cart, .scheme_original .widget_area_inner, .scheme_original #page_preloader {
    background-color: #1d1e23
}
.scheme_original .top_panel_wrap_inner {
    background-color: #1d1e23
}
.scheme_original .top_panel_middle {
    background-color: #1d1e23
}
.top_panel_middle .logo {
    margin-top: 3em;
    margin-bottom: 1.45em
}
.scheme_original .top_panel_bottom {
    background-color: #1d1e23
}
.scheme_original .top_panel_bottom {
    border-color: #121215
}
.menu_main_nav> li > a {
    padding: 0.708em 1.5em 0.708em;
    font-size: 0.858em;
    line-height: 1.2857em
}

.scheme_original .menu_main_nav>li>a {
    color: #b4b4b4
}

.scheme_original .menu_main_nav>li>a:hover {
    color: #fac328
}
.scheme_original .menu_main_nav>li ul {
    color: #fff
}
.scheme_original .menu_main_nav>li ul {
    background-color: #121215
}
.scheme_original .menu_main_nav>li ul {
    border-color: #121215
}
.scheme_original .menu_main_nav>a:hover, .scheme_original .menu_main_nav>li.sfHover>a, .scheme_original .menu_main_nav>li#blob, .scheme_original .menu_main_nav>li.current-menu-item>a, .scheme_original .menu_main_nav>li.current-menu-parent>a, .scheme_original .menu_main_nav>li.current-menu-ancestor>a {
    color: #fac328
}
.menu_main_nav>li>ul {
    font-size: 0.858em;
    line-height: 1.2857em
}

.menu_main_nav>li>ul {
    top: 4.7017em
}

.menu_main_nav>li ul li a {
    padding: inherit 1.5em inherit
}

.scheme_original .menu_main_nav>li ul li a {
    color: #fff
}
.scheme_original .menu_main_nav>li ul li a:hover, .scheme_original .menu_main_nav>li ul li.current-menu-item>a, .scheme_original .menu_main_nav>li ul li.current-menu-ancestor>a {
    color: #fac328
}
.scheme_original .menu_main_nav>li ul li a:hover, .scheme_original .menu_main_nav>li ul li.current-menu-item>a, .scheme_original .menu_main_nav>li ul li.current-menu-ancestor>a {
    background-color: #000
}
.scheme_original .top_panel_title_inner {
    background: url("../../content/image/banner.jpg") bottom;
    background-attachment: fixed;
    background-size: cover;
}
.scheme_original .top_panel_title_inner {
    border-color: rgba(18, 18, 21, 0.1)
}
.scheme_original .top_panel_title_inner .page_title {
    color: #fff
}
.scheme_original .top_panel_title_inner .post_navi .post_navi_item a, .scheme_original .top_panel_title_inner .breadcrumbs a.breadcrumbs_item {
    color: #fff
}
.scheme_original .top_panel_title_inner .post_navi span, .scheme_original .top_panel_title_inner .breadcrumbs span {
    color: #808080
}
.scheme_original .post_navi .post_navi_item + .post_navi_item:before, .scheme_original .top_panel_title_inner .breadcrumbs .breadcrumbs_delimiter {
    color: #808080
}
.scheme_original .widget_area_inner {
    color: #808080
}
.scheme_original .widget_area_inner {
    background-color: #121215
}
.scheme_original .widget_area_inner a, .scheme_original .widget_area_inner ul li:before, .scheme_original .widget_area_inner ul li a:hover, .scheme_original .widget_area_inner button:before {
    color: #fac328
}
.scheme_original .contacts_wrap_inner {
    color: #808080
}
.scheme_original .contacts_wrap_inner {
    background-color: #121215
}
.scheme_original .copyright_wrap_inner {
    background-color: #000
}
.scheme_original .copyright_wrap_inner .copyright_text {
    color: #808080
}
.scheme_original .copyright_wrap_inner .copyright_text a {
    color: #fac328
}
.scheme_original .footer_wrap_inner.widget_area_inner {
    background-color: #1d1e23
}
.scroll_to_top {
    border: none;
    background-color: transparent;
}

.scheme_original .scroll_to_top {
    color: transparent;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .sc_button {
    font-size: 0.857em;
    line-height: 1.2857em;
}

.scheme_original input[type="submit"], .scheme_original input[type="reset"], .scheme_original input[type="button"], .scheme_original button, .scheme_original .sc_button {
    color: #fff;
    border-color: #fac328;
}
.scheme_original .sc_socials.sc_socials_type_icons a {
    color: #fff;
    border-color: #fff;
}
.scheme_original .sc_section_inner {
    color: #808080
}

.scheme_light .sc_section_inner {
    color: #808080
}

.scheme_dark .sc_section_inner {
    color: #808080
}
.scheme_original .sc_skills_bar .sc_skills_item {
    background-color: #121215
}

.scheme_light .sc_skills_bar .sc_skills_item {
    background-color: #f6f6f6
}

.scheme_dark .sc_skills_bar .sc_skills_item {
    background-color: #121215
}

.scheme_original .sc_skills_counter .sc_skills_item .sc_skills_icon {
    color: #fff
}

.scheme_light .sc_skills_counter .sc_skills_item .sc_skills_icon {
    color: #fff
}

.scheme_dark .sc_skills_counter .sc_skills_item .sc_skills_icon {
    color: #fff
}

.scheme_original .sc_skills_counter .sc_skills_item:hover .sc_skills_icon {
    color: #fac328
}

.scheme_light .sc_skills_counter .sc_skills_item:hover .sc_skills_icon {
    color: #fac328
}

.scheme_dark .sc_skills_counter .sc_skills_item:hover .sc_skills_icon {
    color: #fac328
}

.scheme_original .sc_skills_counter .sc_skills_item .sc_skills_info {
    color: #fff
}

.scheme_light .sc_skills_counter .sc_skills_item .sc_skills_info {
    color: #1d1e23
}

.scheme_dark .sc_skills_counter .sc_skills_item .sc_skills_info {
    color: #fff
}

.scheme_original .sc_skills_bar .sc_skills_item .sc_skills_count {
    border-color: #fac328
}

.scheme_light .sc_skills_bar .sc_skills_item .sc_skills_count {
    border-color: #fac328
}

.scheme_dark .sc_skills_bar .sc_skills_item .sc_skills_count {
    border-color: #fac328
}

.scheme_original .sc_skills_bar .sc_skills_info .sc_skills_label {
    color: #fff
}

.scheme_light .sc_skills_bar .sc_skills_info .sc_skills_label {
    color: #1d1e23
}

.scheme_dark .sc_skills_bar .sc_skills_info .sc_skills_label {
    color: #fff
}

.scheme_original .sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total {
    color: #fff
}

.scheme_light .sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total {
    color: #fff
}

.scheme_dark .sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total {
    color: #fff
}

.scheme_original .sc_skills_legend_title,
.scheme_original .sc_skills_legend_value {
    color: #fff
}

.scheme_light .sc_skills_legend_title,
.scheme_light .sc_skills_legend_value {
    color: #1d1e23
}

.scheme_dark .sc_skills_legend_title,
.scheme_dark .sc_skills_legend_value {
    color: #fff
}

.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_1 {
    background-color: #121215
}

.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_1 {
    background-color: #f6f6f6
}

.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_1 {
    background-color: #121215
}

.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_1:hover {
    background-color: #000
}

.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_1:hover {
    background-color: #f6f6f6
}

.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_1:hover {
    background-color: #000
}

.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count {
    color: #fac328
}

.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count {
    color: #fac328
}

.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count {
    color: #fac328
}

.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
    color: #fff
}

.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
    color: #1d1e23
}

.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info {
    color: #fff
}

.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
    background-color: #121215
}

.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
    background-color: #121215
}

.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_info:before {
    background-color: #121215
}

.scheme_original .sc_skills_counter .sc_skills_read_more {
    color: #fac328
}

.scheme_light .sc_skills_counter .sc_skills_read_more {
    color: #fac328
}

.scheme_dark .sc_skills_counter .sc_skills_read_more {
    color: #fac328
}

.scheme_original .sc_skills_bar .sc_skills_item .sc_skills_count,
.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    color: #808080
}

.scheme_light .sc_skills_bar .sc_skills_item .sc_skills_count,
.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    color: #808080
}

.scheme_dark .sc_skills_bar .sc_skills_item .sc_skills_count,
.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    color: #808080
}

.scheme_original .sc_skills_bar .sc_skills_item .sc_skills_count,
.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.scheme_original .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    background-color: #fff
}

.scheme_light .sc_skills_bar .sc_skills_item .sc_skills_count,
.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.scheme_light .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    background-color: #fff
}

.scheme_dark .sc_skills_bar .sc_skills_item .sc_skills_count,
.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.scheme_dark .sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info {
    background-color: #fff
}

.scheme_original .sc_skills_circle .sc_skills_total {
    color: #fac328
}

.scheme_light .sc_skills_circle .sc_skills_total {
    color: #fac328
}

.scheme_dark .sc_skills_circle .sc_skills_total {
    color: #fac328
}

.scheme_original .sc_skills_circle .sc_skills_label {
    color: #fff
}

.scheme_light .sc_skills_circle .sc_skills_label {
    color: #1d1e23
}

.scheme_dark .sc_skills_circle .sc_skills_label {
    color: #fff
}
.scheme_original .sc_team_style_team-1 .sc_team_item_info, .scheme_original .sc_team_style_team-3 .sc_team_item_info {
    border-color: #fff
}
.scheme_original .sc_socials.sc_socials_type_icons a {
    border-color: #fff
}
.scheme_original .sc_socials.sc_socials_type_icons a {
    color: #fff
}
.scheme_original .sc_item_title:after {
    color: #fac328
}